{% macro render_game_card(row) %}
  <td>{{ row.pair_count }}</td>
  <td>{{ row.card_visible_time }}</td>
  <td>{{ row.available_fail_count }}</td>
  <td>{{ row.total_used_fail_count }}</td>
  <td>{{ row.timeout_fail_count }}</td>
  <td>{{ row.no_remain_fail_count }}</td>
  <td>{{ row.used_fail_count_list }}</td>
{% endmacro %}

{% macro render_game_eye(row) %}
  <td>{{ row.origin_answer_list }}</td>
  <td>{{ row.user_answer_list }}</td>
  <td>{{ row.total_consonants_count }}</td>
  <td>{{ row.correct_consonants_count }}</td>
  <td>{{ row.total_vowels_count }}</td>
  <td>{{ row.correct_vowels_count }}</td>
  <td>{{ row.consonants_accuracy }}</td>
  <td>{{ row.vowels_accuracy }}</td>
  <td>{{ row.direction_count_answer_accuracy_list }}</td>
{% endmacro %}

{% macro render_game_eye_fight(row) %}
  <td>{{ row.both_count }}</td>
  <td>{{ row.both_correct_count }}</td>
  <td>{{ row.both_wrong_count }}</td>
  <td>{{ row.both_timeout_count }}</td>
  <td>{{ row.both_correct_accuracy }}</td>

  <td>{{ row.one_side_count }}</td>
  <td>{{ row.one_side_correct_count }}</td>
  <td>{{ row.one_side_wrong_count }}</td>
  <td>{{ row.one_side_timeout_count }}</td>
  <td>{{ row.one_side_correct_accuracy }}</td>

  <td>{{ row.response_set }}</td>
  <td>{{ row.sensitivity }}</td>
{% endmacro %}

{% macro render_game_face(row, game_code) %}
  <td>{{ row.origin_answer_emotion }}</td>
  <td>{{ row.user_answer_emotion }}</td>
  <td>
    {% for file in row.uploaded_files|split('|') %}
      <a href="/resources/results/game_{{ game_code }}/{{ file }}" target="_blank">{{ file }}</a>
    {% endfor %}
  </td>
  <td>{{ row.im_good_count }}</td>
  <td>{{ row.your_good_count }}</td>
{% endmacro %}

{% macro render_game_friend(row) %}
  <td>{{ row.example_count }}</td>
  <td>{{ row.ox_count }}</td>
  <td>{{ row.xo_count }}</td>
  <td>{{ row.accuracy_by_move_level_list }}</td>
  <td>{{ row.origin_answer_face }}</td>
  <td>{{ row.user_answer_face }}</td>

  <td>{{ row.response_set }}</td>
  <td>{{ row.sensitivity }}</td>
{% endmacro %}

{% macro render_game_look(row) %}
  <td>{{ row.origin_answer_eye_name_list }}</td>
  <td>{{ row.user_answer_eye_name_list }}</td>
{% endmacro %}

{% macro render_game_match(row) %}
  <td>{{ row.origin_answer_face_list }}</td>
  <td>{{ row.user_answer_face_list }}</td>
{% endmacro %}

{% macro render_game_model(row, game_code) %}
  <td>{{ row.origin_answer_gesture_list }}</td>
  <td>{{ row.user_answer_gesture_list }}</td>
  <td>
    {% for file in row.uploaded_files|split('|') %}
      <a href="/resources/results/game_{{ game_code }}/{{ file }}" target="_blank">{{ file }}</a>
    {% endfor %}
  </td>
  <td>{{ row.im_good_count }}</td>
  <td>{{ row.your_good_count }}</td>
{% endmacro %}

{% macro render_game_order(row) %}
  <td>{{ row.answer_order }}</td>
  <td>{{ row.user_order_list }}</td>
{% endmacro %}

{% macro render_game_talk(row, game_code) %}
  <td>{{ row.origin_answer_string_list }}</td>
  <td>{{ row.user_answer_string_list }}</td>
  <td>
    {% for file in row.uploaded_files|split('|') %}
      <a href="/resources/results/game_{{ game_code }}/{{ file }}" target="_blank">{{ file }}</a>
    {% endfor %}
  </td>
  <td>{{ row.is_recorded }}</td>
{% endmacro %}

{% macro render_game_thief(row) %}
  <td>{{ row.origin_answer_face_list }}</td>
  <td>{{ row.user_answer_face_list }}</td>
{% endmacro %}

{% macro render_game_badum_tish(row) %}
  <td>{{ row.answer_list }}</td>
  <td>{{ row.user_answer_list }}</td>
{% endmacro %}

{% macro render_game_find_the_match(row) %}
  <td>{{ row.pair_count }}</td>
  <td>{{ row.game_time }}</td>

  <td>{{ row.available_fail_count }}</td>
  <td>{{ row.total_used_fail_count }}</td>
  <td>{{ row.timeout_fail_count }}</td>
  <td>{{ row.no_remain_fail_count }}</td>
  <td>{{ row.used_fail_count_list }}</td>
{% endmacro %}

{% macro render_game_hit_the_road(row) %}
  <td>{{ row.answer_list }}</td>
  <td>{{ row.user_answer_list }}</td>
{% endmacro %}

{% macro render_game_identical_picture(row) %}
  <td>{{ row.answer_count }}</td>
  <td>{{ row.answer_set_list_3d }}</td>
  <td>{{ row.user_set_list }}</td>
  <td>{{ row.user_answer_count_list }}</td>
{% endmacro %}

{% macro render_game_is_it_there(row) %}
  <td>{{ row.total_answer_count }}</td>

  <td>{{ row.target_count }}</td>
  <td>{{ row.target_answer_count }}</td>
  <td>{{ row.target_wrong_count }}</td>
  <td>{{ row.target_no_response_count }}</td>
  <td>{{ row.target_accuracy }}</td>
  <td>{{ row.target_average_response_time }}</td>

  <td>{{ row.non_target_count }}</td>
  <td>{{ row.non_target_answer_count }}</td>
  <td>{{ row.non_target_wrong_count }}</td>
  <td>{{ row.non_target_no_response_count }}</td>
  <td>{{ row.non_target_accuracy }}</td>
  <td>{{ row.non_target_average_response_time }}</td>

  <td>{{ row.response_set }}</td>
  <td>{{ row.sensitivity }}</td>
{% endmacro %}

{% macro render_game_lets_go_fishing(row) %}
  <td>{{ row.answer_direction_list }}</td>
  <td>{{ row.user_direction_list }}</td>
{% endmacro %}

{% macro render_game_navigate_me(row) %}
  <td>{{ row.green_count }}</td>
  <td>{{ row.green_answer_count }}</td>
  <td>{{ row.green_wrong_count }}</td>
  <td>{{ row.green_no_response_count }}</td>
  <td>{{ row.green_accuracy }}</td>
  <td>{{ row.green_average_response_time }}</td>

  <td>{{ row.yellow_count }}</td>
  <td>{{ row.yellow_answer_count }}</td>
  <td>{{ row.yellow_wrong_count }}</td>
  <td>{{ row.yellow_no_response_count }}</td>
  <td>{{ row.yellow_accuracy }}</td>
  <td>{{ row.yellow_average_response_time }}</td>

  <td>{{ row.red_count }}</td>
  <td>{{ row.red_answer_count }}</td>
  <td>{{ row.red_wrong_count }}</td>
  <td>{{ row.red_accuracy }}</td>

  <td>{{ row.response_set }}</td>
  <td>{{ row.sensitivity }}</td>
{% endmacro %}

{% macro render_game_stack_the_bricks(row) %}
  <td>{{ row.answer_move_count }}</td>
  <td>{{ row.user_move_count_list }}</td>
  <td>{{ row.average_move_count }}</td>
{% endmacro %}

{% macro render_game_tap_tap_tap(row) %}
  <td>{{ row.from_low_count }}</td>
  <td>{{ row.from_low_correct_count }}</td>
  <td>{{ row.from_low_no_response_count }}</td>

  <td>{{ row.from_high_count }}</td>
  <td>{{ row.from_high_correct_count }}</td>
  <td>{{ row.from_high_no_response_count }}</td>

  <td>{{ row.answer_list }}</td>
  <td>{{ row.user_answer_list }}</td>
{% endmacro %}

{% macro render_game_to_eat(row) %}
  <td>{{ row.fresh_count }}</td>
  <td>{{ row.fresh_correct_count }}</td>
  <td>{{ row.fresh_wrong_count }}</td>
  <td>{{ row.fresh_no_response_count }}</td>
  <td>{{ row.fresh_accuracy }}</td>
  <td>{{ row.fresh_average_response_time }}</td>

  <td>{{ row.throw_count }}</td>
  <td>{{ row.throw_correct_count }}</td>
  <td>{{ row.throw_wrong_count }}</td>
  <td>{{ row.throw_no_response_count }}</td>
  <td>{{ row.throw_accuracy }}</td>
  <td>{{ row.throw_average_response_time }}</td>

  <td>{{ row.response_set }}</td>
  <td>{{ row.sensitivity }}</td>
{% endmacro %}

{% macro render_game_up_down(row) %}
  <td>{{ row.up_count }}</td>
  <td>{{ row.up_answer_count }}</td>
  <td>{{ row.up_wrong_count }}</td>
  <td>{{ row.up_no_response_count }}</td>
  <td>{{ row.up_accuracy }}</td>
  <td>{{ row.up_average_response_time }}</td>

  <td>{{ row.down_count }}</td>
  <td>{{ row.down_answer_count }}</td>
  <td>{{ row.down_wrong_count }}</td>
  <td>{{ row.down_no_response_count }}</td>
  <td>{{ row.down_accuracy }}</td>
  <td>{{ row.down_average_response_time }}</td>

  <td>{{ row.fake_count }}</td>
  <td>{{ row.fake_answer_count }}</td>
  {#<td>{{ row.fake_wrong_count }}</td>#}
  {#<td>{{ row.fake_accuracy }}</td>#}

  <td>{{ row.response_set }}</td>
  <td>{{ row.sensitivity }}</td>
{% endmacro %}

{% macro render_game_whats_the_number(row) %}
  <td>{{ row.answer_number_list }}</td>
  <td>{{ row.user_number_list }}</td>
{% endmacro %}
