<!DOCTYPE HTML>
<html>
<head>
  <!-- ========================= META DATA -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>YFace Admin Page</title>

  <!-- ========================= STATIC RESOURCES ========================= -->
  <!-- ========================= STYLE LOAD -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/base.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/dragula.min.css">
  {% block style %}
  {% endblock %}

  <!-- ========================= SCRIPT LOAD -->
  <script src="{{ STATIC_URL }}/dist/js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}/dist/js/semantic.min.js"></script>
  <script src="{{ STATIC_URL }}/dist/js/dragula.min.js"></script>
</head>
<body data-page="dashboard">
  <!-- ========================= MAIN FIXED MENU ========================= -->
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="{{ ADMIN_URL }}" class="header item">
        <img class="logo" src="{{ STATIC_URL }}/images/admin/logo.png">
        YFACE ADMIN
      </a>
      <a href="{{ ADMIN_URL }}/users" class="item"><i class="users icon"></i> 사용자</a>
      <div class="ui simple dropdown item">
        <i class="file text outline icon"></i> 연구 <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">연구 그룹</div>
          {% if login_role == 'admin' %}
            <a class="item" href="{{ ADMIN_URL }}/users">전체 연구</a>
          {% endif %}
          {% for reearch_tab in research_tabs %}
          <a class="item" href="{{ ADMIN_URL }}/users?research={{ reearch_tab.idx }}">{{ reearch_tab.title }}</a>
          {% endfor %}
          {% if login_role == 'admin' %}
            <div class="divider"></div>
            <div class="header">관리</div>
            <a class="item" href="{{ ADMIN_URL }}/research">연구 관리</a>
          {% endif %}
        </div>
      </div>
      <div class="ui simple dropdown item">
        <i class="trophy icon"></i> 게임 <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">관리</div>
          <div class="item">
            <i class="dropdown icon"></i>
              게임 관리
            <div class="menu">
              <a class="item" href="{{ ADMIN_URL }}/games?app=yface">YFACE</a>
              <a class="item" href="{{ ADMIN_URL }}/games?app=ycog">YCOG</a>
            </div>
          </div>
          <div class="item">
            <i class="dropdown icon"></i>
            레벨 관리
            <div class="menu">
              <a class="item" href="{{ ADMIN_URL }}/games/level?app=yface">YFACE</a>
              <a class="item" href="{{ ADMIN_URL }}/games/level?app=ycog">YCOG</a>
            </div>
          </div>
          <a class="item" href="{{ ADMIN_URL }}/resources">리소스 관리</a>
        </div>
      </div>
      <div class="ui simple dropdown item yface-survey-tab">
        <i class="tasks icon"></i> 설문 <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">관리</div>
          <a class="item" href="{{ ADMIN_URL }}/surveys">설문 관리</a>
          <a class="item" href="{{ ADMIN_URL }}/surveys/results">설문 결과</a>
        </div>
      </div>
      <div class="ui simple dropdown item yface-statistics-tab">
        <i class="bar chart icon"></i> 통계 <i class="dropdown icon"></i>
        <div class="menu">
          <div class="header">통계</div>
          <a class="item" href="{{ ADMIN_URL }}/statistics/app?type=yface">앱 통계</a>
          <a class="item" href="{{ ADMIN_URL }}/statistics/games?type=yface">게임별 통계</a>
          <a class="item" href="{{ ADMIN_URL }}/statistics/praises?type=yface">칭찬스티커</a>
        </div>
      </div>
      <a href="{{ ADMIN_URL }}/privacy" class="item"><i class="image icon"></i> 동의 이미지</a>
      <div class="right menu">
        <a href="{{ ADMIN_URL }}/sign-out" class="item"><i class="sign out icon"></i> 로그아웃</a>
      </div>
    </div>
  </div>
  <!-- ========================= CONTENTS ========================= -->
  <div class="ui contents container">
    <div class="ui main">
      {% block contents %}
      {% endblock %}
    </div>
  </div>
  <!-- ========================= FOOTER ========================= -->
  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container yonseiLogo">
      <img src="{{ STATIC_URL }}/images/admin/yonsei_logo.png" class="ui centered mini image">
    </div>
    <div class="ui center aligned container copyright">
      &copy; 연세대학교 심리학과 행동심리연구실
    </div>
  </div>
  <!-- ===== STATIC RESOURCES ===== -->
  {% block script %}
  {% endblock %}
  <script>
    // const urlParams = new URLSearchParams(window.location.search)
    // if(urlParams.has('research')) {
    //   Array.from(document.querySelectorAll('.yface-statistics-tab a')).forEach((link) => link.href += `&research=${urlParams.get('research')}`)
    //   Array.from(document.querySelectorAll('.yface-survey-tab a')).forEach((link) => link.href += `?research=${urlParams.get('research')}`)
    // }
  </script>
</body>
</html>
