<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>YFace Admin Page</title>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/login.min.css">

  <script src="{{ STATIC_URL }}/dist/js/jquery.min.js"></script>
  <script src="{{ STATIC_URL }}/dist/js/semantic.min.js"></script>
  <script type="text/javascript">
    $(function () {
      // 로그인 폼 입력 검증
      $('.submit').click(function () {
        var id = $('.loginForm input[name=id]').val();
        var password = $('.loginForm input[name=password]').val();

        if (!id || !password) {
          alert('입력란에 정보를 모두 기입해주세요.');

          return false;
        }

        $('.loginForm').submit();
      });
    });
  </script>
</head>
<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal image header">
        <div class="content">
          YFACE 관리자 페이지
        </div>
      </h2>
      <form class="ui large form loginForm" method="POST" action="{{ ADMIN_URL }}/sign-in">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="id" placeholder="관리자 아이디" required>
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="관리자 패스워드" required>
            </div>
          </div>
          <button type="submit" class="ui fluid large teal submit button">로그인</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
