{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/resources/detail.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      // 왼쪽 리소스 아이템에서 파일 선택했을 경우
      $('.resourceItems > .item').click(function () {
        $('.resourceItems > .item').removeClass('active');
        $(this).addClass('active');

        var resourceIdx = $(this).data('resource-idx');
        var imageUrl = $(this).data('image-url');
        var appType = $(this).data('app-type');
        var lang = $(this).data('lang');

        $('.resourceFileForm input[name=resourceIdx]').val(resourceIdx);
        $('.resourceFileForm input[name=imageUrl]').val(imageUrl);
        $('.resourceFileForm input[name=appType]').val(appType);
        $('.resourceFileForm input[name=lang]').val(lang);

        $('#file').val('');

        return false;
      });

      // 오른쪽 리소스 아이템 저장했을 경우 validation [프론트에서 한번 유효 검사]
      $('.resourceFileForm').submit(function (event) {
        if (!confirm('정말 파일을 업데이트 하시겠습니까?')) {
          event.preventDefault();
          event.stopPropagation();

          return false;
        }

        var originFileName = $('.resourceFileForm input[name=fileName]').val();
        var originExtension = originFileName.replace(/^.*\./, '');
        originExtension = originExtension.toLowerCase();

        var fileName = $('#file').val();
        var extension = fileName.replace(/^.*\./, '');
        extension = extension.toLowerCase();

        if (originExtension != extension) {
          event.preventDefault();
          event.stopPropagation();

          alert('같은 파일 확장자만 가능합니다.');

          return false;
        }

        return true;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <h1 class="ui header">동의 이미지 관리</h1>
    <div class="ui grid container resourceContainer">
      <div class="four wide column">
        <div class="ui segment resourceItemContainer">
          <div class="ui secondary vertical menu resourceItems">
            {% for resource in resources %}
              <a class="item" data-resource-idx="{{ resource.idx }}" data-image-url="{{ resource.img_url }}"
                 data-app-type="{{ resource.app_type|lower }}" data-lang="{{ resource.lang }}">
                {{ resource.app_type }}_{{ (resource.lang == 'ko') ? '한글' : '영문' }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui segment">
          <form class="ui form resourceFileForm" enctype="multipart/form-data" method="post"
                action="{{ ADMIN_URL }}/privacy">
            <input type="hidden" name="resourceIdx" required/>
            <input type="hidden" name="lang" required/>
            <input type="hidden" name="appType" required/>

            <div class="fields">
              <div class="eight wide field">
                <label>이미지 URL</label>
                <input name="imageUrl" type="text" placeholder="이미지 URL" value="" readonly>
              </div>
            </div>
            <div class="fields">
              <div class="eight wide field">
                <label>파일</label>
                <input id="file" name="file" type="file"  accept="image/*" required>
              </div>
            </div>
            <div class="ui grid">
              <div class="row resourceButtons">
                <a href="{{ ADMIN_URL }}/resources" class="negative ui labeled icon button" tabindex="0">
                  <i class="reply icon"></i>
                  돌아가기
                </a>
                <button class="positive ui labeled icon button" tabindex="0" type="submit">
                  <i class="check icon"></i>
                  저장
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
