.ui.grid {
  &.resourceContainer{
    margin-top: 1em;
    .ui.segment {
      &.resourceItemContainer {
        height: 600px; overflow-y: scroll;
      }
      .menu.resourceItems {
        width: 100%;
      }
      .ui.form {
        .resourceButtons {
          display: inline-block;
          text-align: right;
          padding-right: 10px;
        }
      }
    }
  }
}
