.ui.column {
  .dashboard-stat {
    .segments {
      .dashboard {
        &:hover {
          background: linear-gradient(rgba(255,255,255,.2) 0,rgba(255,255,255,.2) 100%) #4c4f52;
        }
        .statistic {
          .value {
            font-size: 2rem !important;
          }
          .label {
            margin-top: 0.5em;
          }
        }
      }
    }
  }
}
