{% extends "/admin/base.twig" %}

{% block contents %}
  <div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{ user.name }} {{ app_type|upper }} 출석 및 접속 내역</h2>
    <div class="right menu">
      <a class="ui {{ app_type == 'yface' ? 'active' }} item" href="{{ ADMIN_URL }}/users/{{ user.idx }}/attendance?app=yface">YFACE</a>
      <a class="ui {{ app_type == 'ycog' ? 'active' }} item" href="{{ ADMIN_URL }}/users/{{ user.idx }}/attendance?app=ycog">YCOG</a>
    </div>
  </div>

  <h3 class="ui header">데이터</h3>
  <div class="container">
    <table class="ui celled compact small table">
      <thead>
        <th>일자</th>
        <th>접속 여부</th>
        <th>출석 여부</th>
      </thead>
      <tbody>
      {% for i in 0..diff_days %}
        {% set attend = false %}
        {% if attendance_list[start_date|date_modify("+ " ~ i ~ "days")|date('Y-m-d')] %}
          {% set attend = true %}
        {% endif %}
        <tr>
          <td>{{ start_date|date_modify("+ " ~ i ~ "days")|date('Y-m-d') }}</td>
          <td>
            {% if attend %}
              접속
            {% else %}
              {{ (login_logs[start_date|date_modify("+ " ~ i ~ "days")|date('Y-m-d')]) ? '접속' : 'X' }}
            {% endif %}
          </td>
          <td>
            {{ (attend) ? '출석' : 'X' }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="ui basic right aligned segment">
    <a href="/admin/users/{{ user.idx }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      유저 정보로
    </a>
  </div>
{% endblock %}
