{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportExcelForm').submit(function (event) {
        if (!confirm('엑셀을 다운로드 받으시겠습니까?')) {
          event.preventDefault();

          return false;
        }
      });

      $('.exportExcel').click(function (event) {
        if (!confirm('게임 데이터까지 포함된 엑셀을 다운로드 받으시겠습니까?')) {
          event.preventDefault();

          return false;
        }
      });

      // 유저 기본 정보 수정
      $('.userEditForm').submit(function (e) {
        if (!confirm('정말 수정하시겠습니까?')) {
          e.preventDefault();

          return false;
        }

        return true;
      });

      // 기본 액션 최종 확인
      $('.changeBtn').click(function (e) {
        if (!confirm('정말 하시겠습니까?')) {
          e.preventDefault();
          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <h1 class="ui header datetime">{{ user.name }} 요약</h1>
  <hr/>
  <div class="ui basic right aligned segment" style="float: right;">
    <form class="ui form right aligned exportExcelForm" action="/admin/users/{{ user.idx }}/export" method="get">
      <div class="inline fields">
        <div class="field">
          <input type="number" name="days" placeholder="일수" min="1" max="100"/>
          <span>일 까지의 데이터</span>
        </div>
        <button class="blue ui labeled icon button" data-type="{{ app_type }}">
          <i class="cloud download icon"></i>
          엑셀로 추출
        </button>
      </div>
    </form>
  </div>
  {# 유저 기본정보 #}
  <h1 class="ui header">기본정보</h1>

  <h2 class="ui header">사용자 기본 정보</h2>
  <form class="ui form userEditForm" action="{{ ADMIN_URL }}/users/{{ user.idx }}/edit">
    <table class="ui celled definition table">
      <tbody>
      <tr>
        <td>아이디</td>
        <td>{{ user.id }}</td>
      </tr>
      <tr>
        <td>이름</td>
        <td>
          <input type="text" name="name" value="{{ user.name }}" title="이름" required/>
        </td>
      </tr>
      <tr>
        <td>생년월일</td>
        <td>
          <input type="text" name="birthdate" value="{{ user.birth_date }}" title="생년월일" required/>
        </td>
      </tr>
      <tr>
        <td>성별</td>
        <td>
          <select class="ui dropdown" name="gender">
            <option value="M" {% if user.gender == 'M' %} selected {% endif %}>남성</option>
            <option value="F" {% if user.gender == 'F' %} selected {% endif %}>여성</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>진단명</td>
        <td>
          <input type="text" name="diagnosis" value="{{ user.diagnosis }}" title="진단명" required/>
        </td>
      </tr>
      <tr>
        <td>피실험자 여부 (T/F)</td>
        <td>
          {% if not user.is_experiment %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/change/experiment" class="ui icon button changeBtn">
              피실험자 전환
            </a>
          {% else %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/change/normal" class="ui icon button changeBtn">
              일반 유저 전환
            </a>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>훈련 시작 일시 (YFACE)</td>
        <td>{{ user.yface_survey_completed_date|date('Y-m-d') }}</td>
      </tr>
      <tr>
        <td>훈련 시작 일시 (YCOG)</td>
        <td>{{ user.ycog_survey_completed_date|date('Y-m-d') }}</td>
      </tr>
      <tr>
        <td>사용한 핸드폰 기종</td>
        <td>{{ user_summary.device_model }}</td>
      </tr>
      </tbody>
    </table>
    <div class="ui basic right aligned segment">
      <button type="submit" class="ui positive icon labeled button">
        <i class="icon checkmark"></i>
        저장
      </button>
    </div>
  </form>

  <h2 class="ui header">게임 사용 정보</h2>
  <table class="ui celled definition table">
    <tbody>
    <tr>
      <td>칭찬스티커 사용 여부 (YFACE)</td>
      <td>
        {% if user.is_yface_praise_started %}
          <a class="blue ui button" href="/admin/statistics/praises/yface/{{ user.idx }}">사용</a>
        {% else %}
          <button class="ui button">미사용</button>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>칭찬스티커 사용 여부 (YCOG)</td>
      <td>
        {% if user.is_ycog_praise_started %}
          <a class="blue ui button" href="/admin/statistics/praises/ycog/{{ user.idx }}">사용</a>
        {% else %}
          <button class="ui button">미사용</button>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>오늘 접속 일시</td>
      <td>
        {% if user_today_login_date %}
          {{ user_today_login_date|date('Y-m-d H:i:s') }}
        {% else %}
          없음
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>마지막 접속 일시</td>
      <td>{{ user_last_login_date|date('Y-m-d H:i:s') }}</td>
    </tr>
    <tr>
      <td>총 접속 일수</td>
      <td>{{ user_login_count }}</td>
    </tr>
    <tr>
      <td>총 출석 일수</td>
      <td>
        <span style="margin-right: 15px;">{{ user_attendance_count }}</span>
        <a class="blue ui button" href="{{ ADMIN_URL }}/users/{{ user.idx }}/attendance">유저의 접속/출석 내역 보기</a>
      </td>
    </tr>
    <tr>
      <td>전체 평균 레벨업 소요 일수</td>
      <td>{{ avg_level_up_day }}</td>
    </tr>
    <tr>
      <td>전체 누적 별 개수</td>
      <td>{{ user_star_count }}</td>
    </tr>
    <tr>
      <td>전체 누적 포인트</td>
      <td>
        <span style="margin-right: 15px">{{ user_point }}</span>
        <a class="blue ui button" href="{{ ADMIN_URL }}/users/{{ user.idx }}/points">유저의 포인트 사용 내역 보기</a>
      </td>
    </tr>
    <tr>
      <td>칭호</td>
      <td>{{ user_title }}</td>
    </tr>
    <tr>
      <td>누적 공룡시대 선택 횟수</td>
      <td>{{ user_themes[0] }}</td>
    </tr>
    <tr>
      <td>누적 루루공주 선택 횟수</td>
      <td>{{ user_themes[1] }}</td>
    </tr>
    <tr>
      <td>누적 세계여행 선택 횟수</td>
      <td>{{ user_themes[2] }}</td>
    </tr>
    <tr>
      <td>누적 로봇세상 선택 횟수</td>
      <td>{{ user_themes[3] }}</td>
    </tr>
    </tbody>
  </table>

  {#게임 수행 정보#}
  {% if is_yface_active or is_ycog_active %}
    <h2 class="ui header" style="margin-top: 60px;">게임 수행 정보</h2>
    <table class="ui celled definition table">
      {% if is_yface_active %}
        <tr>
          <td>전체 게임 수행 (YFACE)</td>
          <td>
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/yface/games/export" class="ui button blue fluid exportExcel">전체 게임 엑셀 추출</a>
          </td>
          <td>
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/yface/graph" class="ui button blue fluid">전체 그래프 보기</a>
          </td>
        </tr>
      {% endif %}
      {% if is_ycog_active %}
        <tr>
          <td>전체 게임 수행 (YCOG)</td>
          <td>
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/ycog/games/export" class="ui button blue fluid exportExcel">전체 게임 엑셀 추출</a>
          </td>
          <td>
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/ycog/graph" class="ui button blue fluid">전체 그래프 보기</a>
          </td>
        </tr>
      {% endif %}
    </table>
  {% endif %}

  <div class="ui grid" style="margin-top: 40px;">
    {# YFACE #}
    {% set button_class = '' %}
    {% if not is_yface_active %}
      {% set button_class = 'disabled' %}
    {% else %}
      {% set button_class = 'blue' %}
    {% endif %}
    <div class="eight wide column">
      <h2 class="ui header" style="color: #D7D8F5;">YFACE</h2>
      <table class="ui celled definition table">
        <thead>
        <th>게임</th>
        <th>현재 레벨</th>
        <th>현재 평균 정확도</th>
        <th>비고</th>
        </thead>
        <tbody>
        {% for i in 0..11 %}
          <tr>
            <td>{{ games[i] }}</td>
            <td>
              {% if game_levels[i] %}
                {{ game_levels[i] }}
              {% else %}
                <strike>데이터 없음</strike>
              {% endif %}
            </td>
            <td>
              {% if game_accuracies[i] %}
                {{ game_accuracies[i] }}
              {% else %}
                <strike>데이터 없음</strike>
              {% endif %}
            </td>
            <td>
              <a href="/admin/users/{{ user.idx }}/games/{{ i + 1 }}"
                 class="{{ button_class }} ui button fluid labeled icon">
                <i class="signal icon"></i>
                데이터 확인
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {# YCOG #}
    {% set button_class = '' %}
    {% if not is_ycog_active %}
      {% set button_class = 'disabled' %}
    {% else %}
      {% set button_class = 'blue' %}
    {% endif %}
    <div class="eight wide column">
      <h2 class="ui header" style="color: #1E96E0;">YCOG</h2>
      <table class="ui celled definition table">
        <thead>
        <th>게임</th>
        <th>현재 레벨</th>
        <th>현재 평균 정확도</th>
        <th>비고</th>
        </thead>
        <tbody>
        {% for i in 12..23 %}
          <tr>
            <td>{{ games[i] }}</td>
            <td>
              {% if game_levels[i] %}
                {{ game_levels[i] }}
              {% else %}
                <strike>데이터 없음</strike>
              {% endif %}
            </td>
            <td>
              {% if game_accuracies[i] %}
                {{ game_accuracies[i] }}
              {% else %}
                <strike>데이터 없음</strike>
              {% endif %}
            </td>
            <td>
              <a href="/admin/users/{{ user.idx }}/games/{{ i + 1 }}"
                 class="{{ button_class }} ui button fluid labeled icon">
                <i class="signal icon"></i>
                데이터 확인
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {# 설문 정보 #}
  <h2 class="ui header" style="margin-top: 60px;">설문 정보</h2>
  <div class="ui grid">
    {#YFACE#}
    <div class="eight wide column">
      <h2 class="ui header" style="color: #D7D8F5;">YFACE</h2>
      <table class="ui celled definition table">
        <thead>
        <th>설문</th>
        <th>작성 날짜1</th>
        <th>훈련전 점수</th>
        <th>작성 날짜2</th>
        <th>훈련후 점수</th>
        </thead>
        <tbody>
          {% for survey in yface_surveys %}
            <tr>
              <td>
                {{ survey.name }} {{ (survey.target == 'GUARDIAN') ? '보호자용' : '자녀용' }}
                (만 {{ survey.min_age }}세 ~ 만 {{ survey.max_age }}세)
              </td>
              <td>{{ yface_survey_results[survey['idx']]['begin_survey_completed_date'] }}</td>
              <td>{{ yface_survey_results[survey['idx']]['begin_survey_point'] }}</td>
              <td>{{ yface_survey_results[survey['idx']]['end_survey_completed_date'] }}</td>
              <td>{{ yface_survey_results[survey['idx']]['end_survey_point'] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {#YCOG#}
    <div class="eight wide column">
      <h2 class="ui header" style="color: #1E96E0;">YCOG</h2>
      <table class="ui celled definition table">
        <thead>
        <th>설문</th>
        <th>작성 날짜1</th>
        <th>훈련전 점수</th>
        <th>작성 날짜2</th>
        <th>훈련후 점수</th>
        </thead>
        <tbody>
        {% for survey in ycog_surveys %}
          <tr>
            <td>
              {{ survey.name }} {{ (survey.target == 'GUARDIAN') ? '보호자용' : '자녀용' }}
              (만 {{ survey.min_age }}세 ~ 만 {{ survey.max_age }}세)
            </td>
            <td>{{ ycog_survey_results[survey['idx']]['begin_survey_completed_date'] }}</td>
            <td>{{ ycog_survey_results[survey['idx']]['begin_survey_point'] }}</td>
            <td>{{ ycog_survey_results[survey['idx']]['end_survey_completed_date'] }}</td>
            <td>{{ ycog_survey_results[survey['idx']]['end_survey_point'] }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
