{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportExcelForm').submit(function (event) {
        if (!confirm('정말 엑셀로 다운로드 받으시겠습니까?')) {
          event.preventDefault();

          return false;
        }
      });

      $('.dataRemoveBtn').click(function () {
        if (!confirm('정말 훈련 데이터를 삭제하시겠습니까? 주의! 복구 되지 않습니다.')) {
          return false;
        }
      });
    });
  </script>
  <script type="text/javascript" src="{{ STATIC_URL }}/dist/js/Chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById("accuracyChart");
    var otherDataSets = [];
    var userDataSets = [];
    var labels = [];
    {% for days in 1..execution_rates|length %}
      labels.push('{{ (execution_rates[days - 1]['reg_date'])|date('m/d') }}');
      otherDataSets.push({{ avg_execution_rates[days - 1]['avg_value'] }});
      userDataSets.push({{ execution_rates[days - 1]['accuracy'] }});
    {% endfor %}

    var data = {
      labels: labels,
      datasets: [
        {
          label: "유저의 수행률",
          fill: false,
          tension: 0,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'square',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: userDataSets
        },
        {
          label: "평균 수행률",
          fill: false,
          tension: 0,
          backgroundColor: "rgba(151,187,205,1)",
          borderColor: "rgba(151,187,205,1)",
          borderCapStyle: 'square',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(151,187,205,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 5,
          pointHitRadius: 5,
          data: otherDataSets
        }
      ]
    };

    var rtLabels = [];
    var rtDataSets = [];
    {% for row in rows %}
      rtLabels.push('{{ row.reg_date|date('m/d') }}');
      rtDataSets.push('{{ row.avg_response_time/1000 }}');
    {% endfor %}

    var rtData = {
      labels: labels,
      datasets: [
        {
          label: "RT",
          fill: false,
          tension: 0,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'square',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 5,
          pointHitRadius: 5,
          data: rtDataSets
        }
      ]
    };

    var accuracyChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        elements: {
          line: {
            fill: false
          }
        }
      }
    });

    var rtChart = new Chart(document.getElementById("rtChart"), {
      type: 'line',
      data: rtData,
      options: {
        elements: {
          line: {
            fill: false
          }
        }
      }
    });
  </script>
{% endblock %}


{% block contents %}
  <h1 class="ui header datetime">{{ user.name }} {{ games[game_code - 1] }} 정보</h1>
  <hr />

  <div class="ui basic right aligned segment" style="float: right;">
    <form class="ui form right aligned exportExcelForm" action="/admin/users/{{ user.idx }}/games/{{ game_code }}/export" method="get">
      <div class="inline fields">
        <div class="field">
          <input type="number" name="days" placeholder="일수" min="1" max="100"/>
          <span>일 까지의 데이터</span>
        </div>
        <button class="blue ui labeled icon button" data-type="{{ app_type }}">
          <i class="cloud download icon"></i>
          엑셀로 추출
        </button>
      </div>
    </form>
  </div>

  <h3 class="ui header">게임 요약</h3>
  <table class="ui celled table">
    <thead>
      <th>현재 레벨</th>
      <th>현재 레벨 평균 정확도</th>
      <th>누적 별 개수</th>
      <th>총 시행 횟수</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ level_info.current_level }}</td>
        <td>{{ level_info.avg_accuracy }}</td>
        <td>{{ total_star_count }}</td>
        <td>{{ play_info.total_play_count }}</td>
      </tr>
    </tbody>
  </table>

  {% if additional_titles|length > 0 %}
    <h3 class="ui header">추가 요약</h3>
    <table class="ui celled table">
      <thead>
      {% for title in additional_titles %}
        <th>{{ title }}</th>
      {% endfor %}
      </thead>
      <tbody>
      {% for info in additional_info %}
        <td>{{ info }}</td>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <hr/>

  <h3 class="ui header">정답률 그래프</h3>
  <hr/>
  <canvas id="accuracyChart"></canvas>

  <h3 class="ui header">RT 그래프</h3>
  <hr/>
  <canvas id="rtChart"></canvas>

  <h3 class="ui header">데이터</h3>
  <div class="container" style="overflow-x: auto;">
    <table class="ui celled compact small table">
      <thead>
      {% for title in game_title %}
        <th>{{ title }}</th>
      {% endfor %}
        <th>비고</th>
      </thead>
      <tbody>
      {% import "/admin/macro/game_macro.twig" as game_macro %}
      {% set name = 'render_game_' ~ games[game_code - 1]|lower %}
      {% for row in rows %}
        <tr class="{% if row.is_disabled %}error{% endif %}">
          <td>{{ row.reg_date|date('Y-m-d') }}</td>
          <td>{{ row.start_time|date('H:i:s') }}</td>
          <td>{{ row.end_time|date('H:i:s') }}</td>
          <td>{{ row.play_count }}</td>
          <td>{{ row.correct_count }}</td>
          <td>{{ row.wrong_count }}</td>
          <td>{{ row.accuracy }}</td>
          {% if games[game_code - 1]|lower == 'eye_fight' %}
            <td>{{ row.active_accuracy }}</td>
          {% endif %}
          {% if game_code >= 13 and game_code <= 24 %}
            <td>{{ row.accuracy_except_no_response }}</td>
          {% endif %}
          <td>{{ row.avg_response_time }}</td>
          <td>{{ row.response_time }}</td>
          {{ attribute(game_macro, name, [row, game_code]) }}
          <td>
            {% if loop.first %}
              <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/games/{{ game_code }}/remove/{{ row.idx }}" class="negative ui labeled icon button dataRemoveBtn">
                <i class="remove icon"></i>
                제거
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="ui basic right aligned segment">
    <a href="/admin/users/{{ user.idx }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      유저 정보로
    </a>
  </div>
{% endblock %}
