{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}/dist/js/Chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById("accuracyChart");
    var datasets = [];
    var rtDataSets = [];

    {% for key, datasets in results %}
      var {{ game_names[key - 1]|lower }}DataSets = [];
      var {{ game_names[key - 1]|lower }}RtDataSets = [];

      {% for value in datasets %}
        {{ game_names[key - 1]|lower }}DataSets.push('{{ value.accuracy }}');
        {{ game_names[key - 1]|lower }}RtDataSets.push('{{ value.avg_response_time/1000 }}');
      {% endfor %}

      datasets.push({
        label: '{{ game_acronyms[game_names[key - 1]] }}',
        fill: false,
        tension: 0,
        backgroundColor: "{{ game_colors[game_names[key - 1]] }}",
        borderColor: "{{ game_colors[game_names[key - 1]] }}",
        borderCapStyle: 'square',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "{{ game_colors[game_names[key - 1]] }}",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "{{ game_colors[game_names[key - 1]] }}",
        pointHoverBorderColor: "{{ game_colors[game_names[key - 1]] }}",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: {{ game_names[key - 1]|lower }}DataSets
      });

      rtDataSets.push({
        label: '{{ game_acronyms[game_names[key - 1]] }}',
        fill: false,
        tension: 0,
        backgroundColor: "{{ game_colors[game_names[key - 1]] }}",
        borderColor: "{{ game_colors[game_names[key - 1]] }}",
        borderCapStyle: 'square',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "{{ game_colors[game_names[key - 1]] }}",
        pointBackgroundColor: "#fff",
        pointBorderWidth: 1,
        pointHoverRadius: 5,
        pointHoverBackgroundColor: "{{ game_colors[game_names[key - 1]] }}",
        pointHoverBorderColor: "{{ game_colors[game_names[key - 1]] }}",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 10,
        data: {{ game_names[key - 1]|lower }}RtDataSets
      });
    {% endfor %}

    var dayLabels = [];
    {% for value in day_labels %}
      dayLabels.push('{{ value }}');
    {% endfor %}

    var data = {
      labels: dayLabels,
      datasets: datasets
    };

    var rtData = {
      labels: dayLabels,
      datasets: rtDataSets
    };

    var accuracyChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        elements: {
          line: {
            fill: false
          }
        }
      }
    });

    var rtChart = new Chart(document.getElementById("rtChart"), {
      type: 'line',
      data: rtData,
      options: {
        elements: {
          line: {
            fill: false
          }
        }
      }
    });
  </script>
{% endblock %}


{% block contents %}
  <h1 class="ui header datetime">{{ user.name }} {{ app_type|upper }} 전체 그래프</h1>
  <hr />

  <h3 class="ui header">정답률 그래프</h3>
  <hr/>
  <canvas id="accuracyChart"></canvas>

  <h3 class="ui header">RT 그래프</h3>
  <hr/>
  <canvas id="rtChart"></canvas>

  <div class="ui basic right aligned segment">
    <a href="/admin/users/{{ user.idx }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      유저 정보로
    </a>
  </div>
{% endblock %}
