{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.acceptBtn').click(function () {
        if (!confirm('정말 승인하시겠습니까? 승인 이후 원래 상태로 되돌릴수 없습니다.')) {
          return false;
        }
      });

      $('.deactivateBtn').click(function () {
        if (!confirm('정말 유저를 비활성화하시겠습니까?')) {
          return false;
        }
      });

      $('.activateBtn').click(function () {
        if (!confirm('정말 유저를 활성화하시겠습니까?')) {
          return false;
        }
      });

      $('.changeBtn').click(function () {
          if (!confirm('정말 전환하시겠습니까?')) {
              return false;
          }
      });
    });
  </script>
{% endblock %}

{% block contents %}
  {% if research %}
    <h1 class="ui header datetime">{{ research.title }} - 사용자</h1>
  {% else %}
    <h1 class="ui header datetime">전체 사용자</h1>
  {% endif %}
  <form class="ui form" style="float: right; margin-bottom: 10px;" method="get" action="{{ ADMIN_URL }}/users">
    <div class="inline fields" style="margin-bottom: 0;">
      <label>성별</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="gender" id="gender_m" tabindex="0" class="hidden" value="M" {% if search_params.gender == 'M' %}checked{% endif %}/>
          <label for="gender_m">남</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="gender" id="gender_g" tabindex="0" class="hidden" value="F" {% if search_params.gender == 'F' %}checked{% endif %}/>
          <label for="gender_g">여</label>
        </div>
      </div>
      <label>유저</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="user_type" id="type_exp" tabindex="0" class="hidden" value="exp" {% if search_params.user_type == 'exp' %}checked{% endif %}/>
          <label for="type_exp">피실험자</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="user_type" id="type_normal" tabindex="0" class="hidden" value="normal" {% if search_params.user_type == 'normal' %}checked{% endif %}/>
          <label for="type_normal">일반</label>
        </div>
      </div>
      <label>게임별</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="app_type" id="type_yface" tabindex="0" class="hidden" value="yface" {% if search_params.app_type == 'yface' %}checked{% endif %}/>
          <label for="type_yface">YFACE</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input type="radio" name="app_type" id="type_ycog" tabindex="0" class="hidden" value="ycog" {% if search_params.app_type == 'ycog' %}checked{% endif %}/>
          <label for="type_ycog">YCOG</label>
        </div>
      </div>
      <div class="field">
        <input type="text" name="diagnosis" value="{{ search_params.diagnosis }}" placeholder="진단명" />
      </div>
      <div class="field">
        <input type="text" name="name" value="{{ search_params.name }}" placeholder="유저명" />
      </div>
    </div>
    <div class="ui basic right aligned segment" style="margin-top: 10px; padding-top: 0;">
      <a href="{{ ADMIN_URL }}/users" class="ui icon labeled red button">
        <i class="icon history"></i>
        초기화
      </a>
      <button type="submit" class="ui icon labeled blue button">
        <i class="icon search"></i>
        검색
      </button>
    </div>
  </form>

  <table class="ui celled table">
    <thead>
      <th>번호</th>
      <th>회원 아이디</th>
      <th>이름</th>
      <th>생년월일</th>
      <th>이메일 및 연락처</th>
      <th>닉네임</th>
      <th>사용자 유형</th>
      <th>피실험자 전환</th>
      <th>최근 접속 일자</th>
      <th>YFACE 승인</th>
      <th>YCOG 승인</th>
      <th>관리</th>
    </thead>
    <tbody>
    {% for user in users %}
      <tr class="{% if user.is_disabled %}error{% endif %} {% if user.is_experiment %}positive{% endif %}">
        <td>{{ user.idx }}</td>
        <td><a href="/admin/users/{{ user.idx }}">{{ user.id }}</a></td>
        <td>{{ user.name }}</td>
        <td>{{ user.birth_date }}</td>
        <td><a href="/admin/users/{{ user.idx }}">{{ user.email }}<br/>{{ user.phone }}</a></td>
        <td>{{ user.nickname }}</td>
        <td>{{ (user.is_experiment) ? '실험 대상자' : '일반 사용자' }}</td>
        <td>
          {% if not user.is_experiment %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/change/experiment" class="ui icon button changeBtn">
              피실험자 전환
            </a>
          {% else %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/change/normal" class="ui icon button changeBtn">
              일반 유저 전환
            </a>
          {% endif %}
        </td>
        <td>{{ user.latest_login_date }}</td>
        <td>
          {% if not user.is_yface_accept and user.yface_survey_completed_date != NULL %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/accept?app=yface" class="positive ui button acceptBtn fluid">
              승인
            </a>
          {% elseif user.is_yface_accept %}
            승인됨
          {% else %}
            설문 미완료
          {% endif %}
        </td>
        <td>
          {% if not user.is_ycog_accept and user.ycog_survey_completed_date != NULL %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/accept?app=ycog" class="positive ui button acceptBtn fluid">
              승인
            </a>
          {% elseif user.is_ycog_accept %}
            승인됨
          {% else %}
            설문 미완료
          {% endif %}
        </td>
        <td>
          {% if user.is_disabled %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/activate" class="positive ui icon button activateBtn fluid">
              활성화
            </a>
          {% else %}
            <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/deactivate" class="negative ui icon button deactivateBtn fluid">
              비활성화
            </a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    {% if pagination|length > 1 %}
      <tfoot>
        <tr>
          <th colspan="12">
            <div class="ui right floated pagination menu">
              {% set params = [] %}
              {% for key, value in search_params %}
                {% if value %}
                  {% set params = params|merge([key ~ '=' ~ value]) %}
                {% endif %}
              {% endfor %}

              {% for number, position in pagination %}
                {% if position == 'first' %}
                  <a href="{{ ADMIN_URL }}/users?page={{ number }}{% if params|length > 0 %}&{{ params|join('&') }}{% endif %}" class="item {{ page == number ? 'active' : '' }}">
                    <i class="left chevron icon"></i>
                  </a>
                {% elseif position == 'less' or position == 'more' %}
                  <a class="item">...</a>
                {% elseif position == 'previous' or position == 'next' %}
                  <a href="{{ ADMIN_URL }}/users?page={{ number }}{% if params|length > 0 %}&{{ params|join('&') }}{% endif %}" class="item {{ page == number ? 'active' : '' }}">{{ number }}</a>
                {% elseif position == 'current' %}
                  <a href="{{ ADMIN_URL }}/users?page={{ number }}{% if params|length > 0 %}&{{ params|join('&') }}{% endif %}" class="item {{ page == number ? 'active' : '' }}">{{ number }}</a>
                {% elseif position == 'last' %}
                  <a href="{{ ADMIN_URL }}/users?page={{ number }}{% if params|length > 0 %}&{{ params|join('&') }}{% endif %}" class="item {{ page == number ? 'active' : '' }}">
                    <i class="right chevron icon"></i>
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </th>
        </tr>
      </tfoot>
    {% endif %}
  </table>
{% endblock %}
