{% extends "/admin/base.twig" %}

{% block contents %}
  <div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{ user.name }} {{ app_type|upper }} 포인트 내역</h2>
    <div class="right menu">
      <a class="ui {{ app_type == 'yface' ? 'active' }} item" href="{{ ADMIN_URL }}/users/{{ user.idx }}/points?app=yface">YFACE</a>
      <a class="ui {{ app_type == 'ycog' ? 'active' }} item" href="{{ ADMIN_URL }}/users/{{ user.idx }}/points?app=ycog">YCOG</a>
    </div>
  </div>

  <h3 class="ui header">데이터</h3>
  <div class="container">
    <table class="ui celled compact small table">
      <thead>
        <th>사용 일자</th>
        <th>획득 또는 사용 포인트</th>
        <th>현재 포인트</th>
        <th>사용 설명</th>
      </thead>
      <tbody>
      {% for row in points %}
        <tr>
          <td>{{ row.reg_date|date('Y-m-d') }}</td>
          <td>{{ row.amount }}</td>
          <td>{{ row.total_amount }}</td>
          <td>{{ row.description }}</td>
        </tr>
      {% endfor %}
      </tbody>
      {% if pagination|length > 1 %}
        <tfoot>
        <tr>
          <th colspan="{{ (game_title|length) + 10 }}">
            <div class="ui right floated pagination menu">
              {% for number, position in pagination %}
                {% if position == 'first' %}
                  <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/points?page={{ number }}&app={{ app_type }}" class="item {{ page == number ? 'active' : '' }}">
                    <i class="left chevron icon"></i>
                  </a>
                {% elseif position == 'less' or position == 'more' %}
                  <a class="item">...</a>
                {% elseif position == 'previous' or position == 'next' %}
                  <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/points?page={{ number }}&app={{ app_type }}" class="item {{ page == number ? 'active' : '' }}">{{ number }}</a>
                {% elseif position == 'current' %}
                  <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/points?page={{ number }}&app={{ app_type }}" class="item {{ page == number ? 'active' : '' }}">{{ number }}</a>
                {% elseif position == 'last' %}
                  <a href="{{ ADMIN_URL }}/users/{{ user.idx }}/points?page={{ number }}&app={{ app_type }}" class="item {{ page == number ? 'active' : '' }}">
                    <i class="right chevron icon"></i>
                  </a>
                {% endif %}
              {% endfor %}
            </div>
          </th>
        </tr>
        </tfoot>
      {% endif %}
    </table>
  </div>

  <div class="ui basic right aligned segment">
    <a href="/admin/users/{{ user.idx }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      유저 정보로
    </a>
  </div>
{% endblock %}
