{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/resources/detail.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      // 왼쪽 리소스 아이템에서 파일 선택했을 경우
      $('.resourceItems > .item').click(function () {
        $('.resourceItems > .item').removeClass('active');
        $(this).addClass('active');

        var resourceIdx = $(this).data('resource-idx');
        var fileName = $(this).data('file-name');
        var gameCode = $(this).data('game-code');

        $('.resourceFileForm input[name=resourceIdx]').val(resourceIdx);
        $('.resourceFileForm input[name=gameCode]').val(gameCode);
        $('.resourceFileForm input[name=fileName]').val(fileName);

        $('#file').val('');

        return false;
      });

      // 오른쪽 리소스 아이템 저장했을 경우 validation [프론트에서 한번 유효 검사]
      $('.resourceFileForm').submit(function (event) {
        if (!confirm('정말 파일을 업데이트 하시겠습니까?')) {
          event.preventDefault();
          event.stopPropagation();

          return false;
        }

        var originFileName = $('.resourceFileForm input[name=fileName]').val();
        var originExtension = originFileName.replace(/^.*\./, '');
        originExtension = originExtension.toLowerCase();

        var fileName = $('#file').val();
        var extension = fileName.replace(/^.*\./, '');
        extension = extension.toLowerCase();

        if (originExtension != extension) {
          event.preventDefault();
          event.stopPropagation();

          alert('같은 파일 확장자만 가능합니다.');

          return false;
        }

        return true;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <h1 class="ui header">"{{ game.title_kr }}" 리소스 관리</h1>
    <div class="ui grid container resourceContainer">
      <div class="four wide column">
        <div class="ui segment resourceItemContainer">
          <div class="ui secondary vertical menu resourceItems">
            {% for resource in resources %}
              <a class="item" data-resource-idx="{{ resource.idx }}" data-file-name="{{ resource.file_name }}" data-game-code="{{ resource.game_code }}">
                {{ resource.file_name }}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <div class="ui segment">
          <form class="ui form resourceFileForm" enctype="multipart/form-data" method="post" action="{{ ADMIN_URL }}/resources">
            <input type="hidden" name="resourceIdx" />
            <input type="hidden" name="gameCode" />
            <div class="fields">
              <div class="eight wide field">
                <label>파일명</label>
                <input name="fileName" type="text" placeholder="파일명" value="" readonly>
              </div>
            </div>
            <div class="fields">
              <div class="eight wide field">
                <label>파일</label>
                <input id="file" name="file" type="file" required>
              </div>
            </div>
            <div class="ui grid">
              <div class="row resourceButtons">
                <a href="{{ ADMIN_URL }}/resources" class="negative ui labeled icon button" tabindex="0">
                  <i class="reply icon"></i>
                  돌아가기
                </a>
                <button class="positive ui labeled icon button" tabindex="0" type="submit">
                  <i class="check icon"></i>
                  저장
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}