{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/resources/index.min.css">
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <h1 class="ui header">게임 리소스 관리</h1>
    {% set gameCount = games|length %}
    {% set rowCount = gameCount / 3 %}
    {% for offset in 0..rowCount %}
      <div class="ui three column row">
        {% for game in games|slice(offset * 3, 3) %}
          <div class="dashboard-stat column">
            <div class="ui segments">
              <a href="{{ ADMIN_URL }}/resources/detail?gameCode={{ game.code }}" class="ui tertiary dashboard center aligned segment">
                <div class="ui dashboard statistic">
                  <div class="value">
                    {{ game.title_kr }}
                  </div>
                  <div class="label">
                    리소스 관리 하기
                  </div>
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}