<html>
<head>
  <title>개인정보취급방침 및 이용약관</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="content-language" content="ko-kr">
  <style>
    /* reset */
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    @charset "utf-8";
    html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, strong, div { margin: 0; padding: 0; -webkit-overflow-scrolling: touch; }
    article, footer, header, nav, section { display: block; margin: 0; padding: 0; }
    h1, h2, h3, h4, h5, h6, p, th, td, div, label, a, li, button, textarea {
      color: #333132; font-size: 12px; line-height: 1em; letter-spacing: -.03em;
      font-family: '나눔고딕', 'Nanum Gothic', Helvetica Neue, 'Apple SD Gothic Neo', arial, '돋움', Dotum, Tahoma, Geneva, sans-serif;
      -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    }
    ul { list-style-type: none; }
    table { border-collapse: collapse; border-spacing: 0; }
    img { vertical-align: middle; outline: none; border: 0; -ms-interpolation-mode: bicubic; }

    /* content */
    #copyrights_view_body { background-color: #eabe47; width: 100%; height: 100%; }

    /* toparea */
    #copyrights_view_body .top_description {
      background-color: #fff; text-align: center; padding: 22px;
      border-bottom-right-radius: 37px; -webkit-border-bottom-right-radius: 37px;
      border-bottom-left-radius: 37px; -webkit-border-bottom-left-radius: 37px;
    }
    #copyrights_view_body .top_description .description_text { color: #004e78; font-size: 14px; line-height: 1.5em; }
    .copyrights_context {
      background: #fff; margin-top: 1px; padding: 9px 42px 40px 42px;
      border-radius: 37px; -webkit-border-radius: 37px;
    }
    .texts { line-height: 1.5em;  padding: 10px 0;}
    .list_title { display: inline-block; }
    .order_list { list-style-position: inside; padding-top: 5px; }
    .order_list .order_list_element { line-height: 1.5em; padding-bottom: 10px; }
    .unorder_list { padding: 5px 0 15px 0; }
    .unorder_list .unorder_list_element { position: relative; padding: 2px 0 0 14px; line-height: 1.5em; }
    .unorder_list .unorder_list_element:before {
      position: absolute; top: 0; left: 2px; content: "\2010";
    }
  </style>
</head>
<body id="copyrights_view_body">
<header class="top_description">
  <h2 class="description_text">이용약관</h2>
</header>
<section class="copyrights_context">
  <ol class="order_list">
    <li class="order_list_element">
      <h3 class="list_title">앱 소개</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
          Yface는 자폐 스펙트럼 장애(Autism spectrum Disorders)아동·청소년의 얼굴 및 정서 인식과 사회성 향상을 위해 개발된 훈련 프로그램 앱입니다.
        {% else %}
          Ycog는 자폐 스펙트럼 장애(Autism spectrum Disorders)아동·청소년의 억제 조절, 작업 기억과 인지적 유연성 및 계획력 향상을 위해 개발된 훈련 프로그램 앱입니다.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">앱 사용</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
          연세대학교 행동심리연구실은 의료 기기 또는 서비스 제공에 관여하지 않습니다. 따라서 본 앱의 용도는 전문 의학적 진단 또는 치료를 대체하는 것과 무관합니다.<br>
          사용자는 본 앱을 둘러보고, 앱에 포함된 모든 훈련 프로그램을 사용할 수 있습니다. 본 앱은 개인의 훈련을 위한 용도로만 제공됩니다.<br>
          연세대학교 행동심리연구실의 사전 서면 승인(동의)이 없는 Yface 콘텐츠 일부 혹은 전체의 상업적·비상업적 무단사용은 엄격히 금지됩니다.<br>
          모든 사용자는 본 앱을 실행할 때 정확한 최신의 개인정보만을 등록해야 합니다.
        {% else %}
          연세대학교 행동심리연구실은 의료 기기 또는 서비스 제공에 관여하지 않습니다. 따라서 본 앱의 용도는 전문 의학적 진단 또는 치료를 대체하는 것과 무관합니다.<br>
          사용자는 본 앱을 둘러보고, 앱에 포함된 모든 훈련 프로그램을 사용할 수 있습니다. 본 앱은 개인의 훈련을 위한 용도로만 제공됩니다.<br>
          연세대학교 행동심리연구실의 사전 서면 승인(동의)이 없는 Ycog 콘텐츠 일부 혹은 전체의 상업적·비상업적 무단사용은 엄격히 금지됩니다.<br>
          모든 사용자는 본 앱을 실행할 때 정확한 최신의 개인정보만을 등록해야 합니다.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">지식재산권</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
          본 앱, 앱에 포함된 디자인, 로고, 콘텐츠 및 다른 모든 구성요소와 관련된 저작권, 디자인권, 특허권, 상표권 및 그 외의 일체의 권리들은 모두 본 앱을 개발한 연세대학교 행동심리연구실에 있습니다.<br>
          모든 사용자는 연세대학교의 지식재산권 등의 권리를 존중하고 이 권리 보호를 위한 관련 법률을 준수해야만 합니다.<br>
          연세대학교 행동심리연구실의 사전 서면 승인이 없는 본 앱 및 앱에 포함된 자료에 관한 일체의 무단복제, 무단사용 또는 무단배포는 엄격히 금지됩니다.<br>
          연세대학교 행동심리연구실은 본 앱에 관련된 지식재산권 등의 위조행위에 대해 법적 조치를 취할 권한이 있습니다.
        {% else %}
          본 앱, 앱에 포함된 디자인, 로고, 콘텐츠 및 다른 모든 구성요소와 관련된 저작권, 디자인권, 특허권, 상표권 및 그 외의 일체의 권리들은 모두 본 앱을 개발한 연세대학교 행동심리연구실에 있습니다.<br>
          모든 사용자는 연세대학교의 지식재산권 등의 권리를 존중하고 이 권리 보호를 위한 관련 법률을 준수해야만 합니다.<br>
          연세대학교 행동심리연구실의 사전 서면 승인이 없는 본 앱 및 앱에 포함된 자료에 관한 일체의 무단복제, 무단사용 또는 무단배포는 엄격히 금지됩니다.<br>
          연세대학교 행동심리연구실은 본 앱에 관련된 지식재산권 등의 위조행위에 대해 법적 조치를 취할 권한이 있습니다.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">개인정보 보호</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
          사용자가 본 앱을 사용하는 과정에서 기록된 개인정보(생년월일, 나이, 성별, 진단명), 아이디, 닉네임, 설문 자료, 사용한 핸드폰 기종, 훈련 관련 데이터(음성녹음파일, 사진파일 등 포함)등에 관한 정보는 연세대학교 행동심리연구실에서 수집·관리하며 연구 목적 이외의 용도로는 사용하지 않습니다. 이 정보는 연구를 위해 5년 간 보관되며 수집된 정보는 개인정보보호법에 따라 적절히 관리됩니다. 사용자들의 개인정보는 잠금 장치가 있는 보안컴퓨터에 의해 안전하게 보관되며 오직 연세대학교 행동심리연구실 연구원에 의해서만 접근 가능합니다. 연세대학교 행동심리연구실은 본 앱을 통해 얻은 모든 개인 정보의 비밀보장을 위해 최선을 다할 것입니다.
        {% else %}
          사용자가 본 앱을 사용하는 과정에서 기록된 개인정보(생년월일, 나이, 성별, 진단명), 아이디, 닉네임, 설문 자료, 사용한 핸드폰 기종, 훈련 관련 데이터(음성녹음파일, 사진파일 등 포함)등에 관한 정보는 연세대학교 행동심리연구실에서 수집·관리하며 연구 목적 이외의 용도로는 사용하지 않습니다. 이 정보는 연구를 위해 5년 간 보관되며 수집된 정보는 개인정보보호법에 따라 적절히 관리됩니다. 사용자들의 개인정보는 잠금 장치가 있는 보안컴퓨터에 의해 안전하게 보관되며 오직 연세대학교 행동심리연구실 연구원에 의해서만 접근 가능합니다. 연세대학교 행동심리연구실은 본 앱을 통해 얻은 모든 개인 정보의 비밀보장을 위해 최선을 다할 것입니다.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">수정</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
          연세대학교 행동심리연구실은 본 앱을 사전 통지 없이 비정기적으로 업데이트할 수 있습니다. 따라서 사용자는 본 앱에 접속하기 위해서 자신의 기기에 업데이트에 따른 변경을 해야 할 필요가 있을 수 있으며, 이러한 변경사항을 적용하지 않을 경우 본 앱의 사용에 제한이 있을 수 있습니다. 이러한 경우 연세대학교 행동심리연구실은 이용제한에 대해 책임을 지지 않으며, 본 앱의 유지 관리 및 지원 서비스를 제공할 의무도 없습니다.<br>
          또한 연세대학교 행동심리연구실은 이용약관에 필요한 수정을 할 수 있고, 새로운 약관이나 추가된 약관을 적용할 권한이 있습니다. 본 앱을 계속 사용하는 경우 이러한 수정사항에 동의하는 것으로 간주되며, 수정 또는 추가된 약관은 현행 약관에 통합되어 즉시 효력이 발생합니다.
        {% else %}
          연세대학교 행동심리연구실은 본 앱을 사전 통지 없이 비정기적으로 업데이트할 수 있습니다. 따라서 사용자는 본 앱에 접속하기 위해서 자신의 기기에 업데이트에 따른 변경을 해야 할 필요가 있을 수 있으며, 이러한 변경사항을 적용하지 않을 경우 본 앱의 사용에 제한이 있을 수 있습니다. 이러한 경우 연세대학교 행동심리연구실은 이용제한에 대해 책임을 지지 않으며, 본 앱의 유지 관리 및 지원 서비스를 제공할 의무도 없습니다.<br>
          또한 연세대학교 행동심리연구실은 이용약관에 필요한 수정을 할 수 있고, 새로운 약관이나 추가된 약관을 적용할 권한이 있습니다. 본 앱을 계속 사용하는 경우 이러한 수정사항에 동의하는 것으로 간주되며, 수정 또는 추가된 약관은 현행 약관에 통합되어 즉시 효력이 발생합니다.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">제작진 소개</h3>
      <ul class="unorder_list">
        <li class="unorder_list_element">제작기관: 연세대학교 행동심리연구실 (디자인 기획: 박종표, 일러스트 제작: 석현지)</li>
        <li class="unorder_list_element">지원기관: 본 사업은 보건복지부의 재원으로 한국보건산업진흥원의 보건의료기술 연구개발사업 지원에 의하여 이루어진 것입니다. (과제번호: HI15C0817)</li>
        {% if app_type == 'yface' %}
          <li class="unorder_list_element">본 앱은 삼성전자 주식회사가 재정적으로 지원하고 연세대학교와 분당서울대병원에서 개발한 “룩앳미”어플리케이션의 콘텐츠 일부를 포함하고 있습니다. “룩앳미”어플리케이션에 관한 일체의 권리는 삼성전자 주식회사가 가지고 있습니다.</li>
        {% endif %}
      </ul>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">프로그램 문의</h3>
      <p class="texts">
        사용자는 {% if app_type == 'yface' %}Yface{% else %}Ycog{% endif %}앱을 사용하면서 어려움이 있거나 문의사항이 있을 경우 다음의 이메일로 문의하실 수 있습니다.
      </p>
      <ul class="unorder_list">
        <li class="unorder_list_element">연세대학교 행동심리 연구실: ysuniv.clinicalpsy@gmail.com</li>
      </ul>
    </li>
  </ol>
</section>
</body>
</html>