<html>
<head>
  <title>개인정보취급방침 및 이용약관</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="content-language" content="ko-kr">
  <style>
    /* reset */
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    @charset "utf-8";
    html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, strong, div { margin: 0; padding: 0; -webkit-overflow-scrolling: touch; }
    article, footer, header, nav, section { display: block; margin: 0; padding: 0; }
    h1, h2, h3, h4, h5, h6, p, th, td, div, label, a, li, button, textarea {
      color: #333132; font-size: 12px; line-height: 1em; letter-spacing: -.03em;
      font-family: '나눔고딕', 'Nanum Gothic', Helvetica Neue, 'Apple SD Gothic Neo', arial, '돋움', Dotum, Tahoma, Geneva, sans-serif;
      -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    }
    ul { list-style-type: none; }
    table { border-collapse: collapse; border-spacing: 0; }
    img { vertical-align: middle; outline: none; border: 0; -ms-interpolation-mode: bicubic; }

    /* content */
    #copyrights_view_body { background-color: #eabe47; width: 100%; height: 100%; }

    /* toparea */
    #copyrights_view_body .top_description {
      background-color: #fff; text-align: center; padding: 22px;
      border-bottom-right-radius: 37px; -webkit-border-bottom-right-radius: 37px;
      border-bottom-left-radius: 37px; -webkit-border-bottom-left-radius: 37px;
    }
    #copyrights_view_body .top_description .description_text { color: #004e78; font-size: 14px; line-height: 1.5em; }
    .copyrights_context {
      background: #fff; margin-top: 1px; padding: 9px 42px 40px 42px;
      border-radius: 37px; -webkit-border-radius: 37px;
    }
    .texts { line-height: 1.5em;  padding: 10px 0;}
    .list_title { display: inline-block; }
    .order_list { list-style-position: inside; padding-top: 5px; }
    .order_list .order_list_element { line-height: 1.5em; padding-bottom: 10px; }
    .unorder_list { padding: 5px 0 15px 0; }
    .unorder_list .unorder_list_element { position: relative; padding: 2px 0 0 14px; line-height: 1.5em; }
    .unorder_list .unorder_list_element:before {
      position: absolute; top: 0; left: 2px; content: "\2010";
    }
  </style>
</head>
<body id="copyrights_view_body">
<header class="top_description">
  <h2 class="description_text">Terms of Service</h2>
</header>
<section class="copyrights_context">
  <ol class="order_list">
    <li class="order_list_element">
      <h3 class="list_title">1. Application Introduction</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
            Yface is an application designed to enhance facial recognition and improve sociality of individuals diagnosed with Autism Spectrum Disorder by repetitive training via games.
        {% else %}
            Ycog is an application designed to improve the inhibitory control, working memory performance, cognitive flexibility, and planning ability (of individuals diagnosed with ASD) by repetitive training via games.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">2. Application Usage</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
            Behavioral Psychology Laboratory of Yonsei University is not associated with distributing medical devices and/or services. Therefore, the use of this application should not be understood as equivalent to the services found in the field of medical diagnosis and treatment.<br>
            The users may navigate through the application and refer to any resources found on this app. Please note that this application is specifically designed for the training use of diagnosed individuals.<br>
            Unauthorized use, which is commercial or non-commercial, in part or whole of these contents, is strictly prohibited without prior written consent from the Behavior Psychology Laboratory of Yonsei University.<br>
            Users have the responsibility to assure that all registered personal information is accurate and up-to-date.
        {% else %}
            Behavioral Psychology Laboratory of Yonsei University is not associated with distributing medical devices and/or services. Therefore, the use of this application should not be understood as equivalent to the services found in the field of medical diagnosis and treatment.<br>
            The users may navigate through the application and refer to any resources found on this app. Please note that this application is specifically designed for the training use of diagnosed individuals.<br>
            Unauthorized use, which is commercial or non-commercial, in part or whole of these contents, is strictly prohibited without prior written consent from the Behavior Psychology Laboratory of Yonsei University.<br>
            Users have the responsibility to assure that all registered personal information is accurate and up-to-date.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">3. Intellectual Property Rights</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
            Intellectual property rights including, copyrights, design rights, patent rights, trademark rights and all other rights pertaining to the application, the design, the logo, the contents, and all other components are entitled to Behavioral Psychology Laboratory of Yonsei University which developed this application.<br>
            All users must agree to abide by Yonsei University's reserved Intellectual Property Rights and associated legal safeguards.<br>
            Unauthorized use(copy, usage, distribution and etc.) of this application without prior written consent from the Behavioral Psychology Laboratory of Yonsei University is strictly prohibited.<br>
            Behavioral Psychology Laboratory of Yonsei University reserves the right to take legal actions to any forgery of its intellectual property rights.
        {% else %}
            Intellectual property rights including, copyrights, design rights, patent rights, trademark rights and all other rights pertaining to the application, the design, the logo, the contents, and all other components are entitled to Behavioral Psychology Laboratory of Yonsei University which developed this application.<br>
            All users must agree to abide by Yonsei University's reserved Intellectual Property Rights and associated legal safeguards.<br>
            Unauthorized use(copy, usage, distribution and etc.) of this application without prior written consent from the Behavioral Psychology Laboratory of Yonsei University is strictly prohibited.<br>
            Behavioral Psychology Laboratory of Yonsei University reserves the right to take legal actions to any forgery of its intellectual property rights.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">4. Privacy Protection Policy</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
            Personal information (date of birth, age, sex, diagnosed spectrum), username, nickname, survey response data, device model name, and training-related data(including voice recording files and photo files) recorded in the process of app functioning are collected by the Behavioral Psychology Laboratory of Yonsei University and are used only for research purposes. This data will be retained for another five years and will be properly managed according to the Personal Information Protection Act(Privacy Protection Act). Only the research workers at the Behavioral Psychology Laboratory of Yonsei University are able to access the users’ personal information, which is safely locked under a secured computer with a locking device. Behavioral Psychology Laboratory of Yonsei University will do its best to ensure the confidentiality of all personal information obtained via this app.
        {% else %}
            Personal information (date of birth, age, sex, diagnosed spectrum), username, nickname, survey response data, device model name, and training-related data(including voice recording files and photo files) recorded in the process of app functioning are collected by the Behavioral Psychology Laboratory of Yonsei University and are used only for research purposes. This data will be retained for another five years and will be properly managed according to the Personal Information Protection Act(Privacy Protection Act). Only the research workers at the Behavioral Psychology Laboratory of Yonsei University are able to access the users’ personal information, which is safely locked under a secured computer with a locking device. Behavioral Psychology Laboratory of Yonsei University will do its best to ensure the confidentiality of all personal information obtained via this app.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">5. Modification</h3>
      <p class="texts">
        {% if app_type == 'yface' %}
            Users should acknowledge that Behavioral Psychology Laboratory of Yonsei University may exercise unforeseen modifications to the application sporadically without prior notice. In such occasion, it may become necessary for the users to make corresponding changes on their devices from which they access the application. A failure of timely adjustment to the corresponding modification may result in limited access to the application. Behavioral Psychology Laboratory of Yonsei University is not responsible for such circumstance and is not obliged to provide any maintenance or support services regarding the application.<br>
            Furthermore, Behavioral Psychology Laboratory of Yonsei University reserves the right to make any necessary adjustment to the user agreement license and apply additional contracts. Continued usage of this application will be regarded as an assent to the changes made. Thus, any adjustment or additional user contract is integrated into the current terms and effective immediately.
        {% else %}
            Users should acknowledge that Behavioral Psychology Laboratory of Yonsei University may exercise unforeseen modifications to the application sporadically without prior notice. In such occasion, it may become necessary for the users to make corresponding changes on their devices from which they access the application. A failure of timely adjustment to the corresponding modification may result in limited access to the application. Behavioral Psychology Laboratory of Yonsei University is not responsible for such circumstance and is not obliged to provide any maintenance or support services regarding the application.<br>
            Furthermore, Behavioral Psychology Laboratory of Yonsei University reserves the right to make any necessary adjustment to the user agreement license and apply additional contracts. Continued usage of this application will be regarded as an assent to the changes made. Thus, any adjustment or additional user contract is integrated into the current terms and effective immediately.
        {% endif %}
      </p>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">6. Production Team</h3>
      <ul class="unorder_list">
        {% if app_type == 'yface' %}
            <li class="unorder_list_element">Manufacturing Institution: Behavioral Psychology Laboratory of Yonsei University (Design planning: Jongpyo Park, Illustration production: Hyun-jee Seok)</li>
            <li class="unorder_list_element">Supporting Institution: This research was supported by a grant of the Korea Health Technology R&D Project through the Korea Health Industry Development Institute (KHIDI), funded by the Ministry of Health & Welfare, Republic of Korea (grant number : HI15C0817)</li>
            <li class="unorder_list_element">The development of this application received financial support from Samsung Corporation. This application partially contains contents from "Look at Me," an application produced by Yonsei University and Seoul National University Bundang Hospital. All rights pertaining to "Look at Me" are reserved to Samsung Electronics Co.</li>
        {% else %}
            <li class="unorder_list_element">Manufacturing Institution: Behavioral Psychology Laboratory of Yonsei University (Design planning: Jongpyo Park, Illustration production: Hyun-jee Seok)</li>
            <li class="unorder_list_element">Supporting Institution: This research was supported by a grant of the Korea Health Technology R&D Project through the Korea Health Industry Development Institute (KHIDI), funded by the Ministry of Health & Welfare, Republic of Korea (grant number : HI15C0817)</li>
        {% endif %}
      </ul>
    </li>
    <li class="order_list_element">
      <h3 class="list_title">7. Contact Information</h3>
      <p class="texts">
          {% if app_type == 'yface' %}
              If faced with any difficulties and questions while using the Yface app, users may contact us at the email provided below.
          {% else %}
              If faced with any difficulties and questions while using the Ycog app, users may contact us at the email provided below.
          {% endif %}
      </p>
      <ul class="unorder_list">
        <li class="unorder_list_element">Behavioral Psychology Laboratory of Yonsei University: ysuniv.clinicalpsy@gmail.com</li>
      </ul>
    </li>
  </ol>
</section>
</body>
</html>
