.ui.grid {
  .row.gameLabelIndex {
    display: inline-block;
    text-align: right;
    padding-right: 14px;
  }
}

.ui.column {
  .dashboard-stat {
    .segments {
      .dashboard {
        .statistic {
          .value {
            font-size: 2rem !important;
          }
          .label.gamePauseButton {
            margin-top: 1em;
          }
        }
      }
    }
  }
}
