.ui.grid {
  .row.surveyLabelIndex {
    display: inline-block;
    text-align: right;
    padding-right: 14px;
  }
}

.ui.column {
  .dashboard-stat {
    .segments {
      .dashboard {
        .statistic {
          .value {
            font-size: 2rem !important;
          }
          .label {
            margin-top: 0.3em;
          }

          .surveyDetailInfo {
            margin-top: 1em;
          }
        }
      }
    }
    .surveyPauseButton {
      margin-top: 0.7em;
    }
  }
}
