{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/research/index.min.css">
{% endblock %}

{% block contents %}
  <h1 class="ui header datetime">연구 관리</h1>

  <div style="height: 30px;">
    <button class="ui disabled right floated mini blue button">권한 부여 (TODO: 스펙필요)</button>
    <a href="{{ ADMIN_URL }}/research/manage">
      <button class="ui right floated mini blue button">그룹 관리</button>
    </a>
  </div>
  <table class="ui very basic large table">
    <thead>
      <th>그룹명</th>
      <th>그룹정보</th>
      <th></th>
    </thead>
    <tbody>
      {% for research in research_list %}
      <tr>
        <td>
          <a href="{{ ADMIN_URL }}/research/manage?research={{ research.idx }}">
            <button class="ui primary basic button">{{ research.title }}</button>
          </a>
        </td>
        <td>
          총 인원: {{ research['count(urs.idx)'] }}명
        </td>
        <td>
          <a href="{{ ADMIN_URL }}/users?research={{ research.idx }}">
            <button class="ui right floated primary button">참가자 보기</button>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
