{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/research/index.min.css">

<style>
.research-management-head {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}
.research-management-body {
  width: 100%;
  height: 340px;
  text-align: center;
  background-color: white;
  overflow-y: scroll;
}
.research-management-add {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: rgba(0, 255, 0, 0.1);
  overflow-y: scroll;
}
.research-management-remove {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  overflow-y: scroll;
}
button {
  min-width: 60%;
}
.actions button {
  min-width: 20%
}
.small-width-button {
  min-width: 0;
}
.wide-width-button {
  min-width: 100%;
}
.button-full-width {
  width: 70%;
}
.button-wrapper {
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
</style>
{% endblock %}

{% block contents %}
  <h1 class="ui header datetime">그룹 관리</h1>
  <div style="width: 95%; margin: 15px auto 0">
    <div class="ui four column grid">
      <div class="column">
        <div class="research-management-head">그룹 선택 ({{ research_list|length }})</div>
        <div class="research-management-body">
          {% for research in research_list %}
            <div class="button-wrapper">
              <a href="{{ ADMIN_URL }}/research/manage?research={{ research.idx }}">
                {% if research_idx == research.idx %}
                <button data-idx="{{ research.idx }}" class="ui primary button">{{ research.title }} ({{ research['count(urs.idx)'] }})</button>
                {% else %}
                <button data-idx="{{ research.idx }}" class="ui button">{{ research.title }} ({{ research['count(urs.idx)'] }})</button>
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
        <div style="margin-top: 12px; width: 100%; text-align: left;">
          <button id="add-group" class="ui compact button small-width-button">추가</button>
          <button id="modify-group" class="ui compact button small-width-button">수정</button>
          <button id="delete-group" class="ui compact negative button small-width-button">삭제</button>
        </div>
      </div>
      <div class="column">
        <div class="research-management-head">그룹 참가자 (<span id="num-of-group-users">{{ selected_group_users|length }}</span>)</div>
        <div class="research-management-body" id="remove-from">
          {% for user in selected_group_users %}
            <div class="button-wrapper">
              <button data-idx="{{ user.idx }}" class="ui tiny button">{{ user.name }}({{ user.id }})</button>
            </div>
          {% endfor %}
        </div>
        <div style="width: 100%; margin: 10px 0;" class="ui icon input">
          <input id="search-group-users" type="text" placeholder="그룹 참가자 검색">
          <i onclick="searchGroupUsers()" class="inverted circular search link icon"></i>
        </div>
      </div>
      <div class="column">
        <div class="research-management-head"><< 추가 (<span id="num-of-users-adding")>0</span>)</div>
        <div class="research-management-add" id="add-to"></div>
        <div class="research-management-head">제외 (<span id="num-of-group-users-removing">0</span>) >></div>
        <div class="research-management-remove" id="remove-to"></div>
      </div>
      <div class="column">
        <div class="research-management-head">사용자 (<span id="num-of-users">{{ not_selected_group_users|length }}</span>)</div>
        <div class="research-management-body" id="add-from">
          {% for user in not_selected_group_users %}
            <div class="button-wrapper">
              <button data-idx="{{ user.idx }}" class="ui tiny button">{{ user.name }}({{ user.id }})</button>
            </div>
          {% endfor %}
        </div>
        <div style="width: 100%; margin: 10px 0;" class="ui icon input">
          <input id="search-users" type="text" placeholder="사용자 검색">
          <i onclick="searchUsers()" class="inverted circular search link icon"></i>
        </div>
      </div>
      <div style="width: 50%"></div>
      <div style="width: 32.5%; margin-top: 20px;">
        <button class="ui green button wide-width-button">저장</button>
      </div>
      <div style="width: 17.5%; margin-top: 20px;">
        <div class="ui labeled icon button wide-width-button">
          되돌리기
          <i class="undo icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui modal add-group">
    <i class="close icon"></i>
    <div class="header">
      그룹 추가
    </div>
    <div class="ui input" style="width: 100%; text-align: center; padding: 20px;">
      <input type="text" placeholder="그룹명">
    </div>
    <div class="actions">
      <button class="ui green button">
        추가
      </button>
      <button class="ui cancel button">
        취소
      </button>
    </div>
  </div>

  <div class="ui modal modify-group">
    <i class="close icon"></i>
    <div class="header">
      그룹명 수정
    </div>
    <div class="ui input" style="width: 100%; text-align: center; padding: 20px;">
      <input type="text" placeholder="그룹명">
    </div>
    <div class="actions">
      <button class="ui green button">
        수정
      </button>
      <button class="ui cancel button">
        취소
      </button>
    </div>
  </div>

  <div class="ui modal delete-group">
    <i class="close icon"></i>
    <div class="header">
      그룹 삭제
    </div>
    <div class="content"><p style="font-size: 1.25em;">"<span>[그룹명]</span>"를 정말로 삭제하시겠습니까?</p></div>
    <div class="actions">
      <button class="ui red button">
        삭제
      </button>
      <button class="ui cancel button">
        취소
      </button>
    </div>
  </div>

<script>
  /* Helper functions section */
  const postData = (url, data) => {
    let formData = new URLSearchParams();

    for (const d in data) {
        formData.append(d, data[d]);
    }
    // Default options are marked with *
    return fetch(url, {
      body: formData,
      method: 'POST'
    })
    .then(response => response.json()) // parses response to JSON
  }
  const postJsonData = (url, data) => {
    return fetch(url, {
      body: JSON.stringify(data),
      method: 'POST',
      headers: {
        'content-type': 'application/json'
      }
    })
    .then(response => response.json()) // parses response to JSON
  }

  /* Group add/modify/delete Section */
  const addGroupButton = document.querySelector('#add-group')
  addGroupButton.addEventListener('click', () => {
    $('.ui.modal.add-group').modal('show')
  })
  const editGroupButton = document.querySelector("#modify-group")
  editGroupButton.addEventListener('click', () => {
    const input = document.querySelector('.ui.modal.modify-group input')
    const groupName = document.querySelector('.research-management-body .ui.primary.button').innerText.split(' ')[0]
    input.value = groupName
    $('.ui.modal.modify-group').modal('show')
  })
  const deleteGrouptButton = document.querySelector("#delete-group")
  deleteGrouptButton.addEventListener('click', () => {
    const text = document.querySelector('.ui.modal.delete-group .content span')
    const groupName = document.querySelector('.research-management-body .ui.primary.button').innerText.split(' ')[0] // FIXME: 띄어쓰기가 있는 이름의 경우에 잘린다.
    text.innerText = groupName

    $('.ui.modal.delete-group').modal('show')
  })
  document.querySelector('.ui.modal.add-group .actions button').addEventListener('click', () => {
    const title = document.querySelector('.ui.modal.add-group .ui.input input').value
    // FIXME: url SHOULD be in configuration file
    postData('http://192.168.33.50/api/research', { title })
    .then((data) => {
      $('.ui.modal.add-group').modal('hide')
      alert('그룹이 성공적으로 추가되었습니다.')
      location.reload()
    }) // JSON from `response.json()` call
    .catch((error) => {
      alert('그룹을 추가하지 못했습니다.')
      $('.ui.modal.add-group').modal('hide')
    })
  })
  document.querySelector('.ui.modal.modify-group .actions button').addEventListener('click', () => {
    const research_title = document.querySelector('.ui.modal.modify-group .ui.input input').value
    const research_idx = document.querySelector('.research-management-body .ui.primary.button').dataset.idx
    // FIXME: url SHOULD be in configuration file
    postData(`http://192.168.33.50/api/research/${research_idx}/update`, { research_title })
    .then((data) => {
      $('.ui.modal.modify-group').modal('hide')
      alert('그룹이 성공적으로 수정되었습니다.')
      location.reload()
    }) // JSON from `response.json()` call
    .catch((error) => {
      alert('그룹을 수정하지 못했습니다.')
      $('.ui.modal.modify-group').modal('hide')
    })
  })
  document.querySelector('.ui.modal.delete-group .actions button').addEventListener('click', () => {
    const research_idx = document.querySelector('.research-management-body .ui.primary.button').dataset.idx
    postData(`http://192.168.33.50/api/research/${research_idx}/delete`, { research_idx })
    .then((data) => {
      $('.ui.modal.delete-group').modal('hide')
      alert('그룹이 성공적으로 삭제되었습니다.')
      window.location.replace(location.protocol + '//' + location.host + location.pathname)
    }) // JSON from `response.json()` call
    .catch((error) => {
      alert('그룹을 삭제하지 못했습니다.')
      $('.ui.modal.delete-group').modal('hide')
    })
  })

  /* Drag and frop section */
  const addUserDrake = dragula([document.querySelector('#add-from'), document.querySelector('#add-to')]);
  const removeUserDrake = dragula([document.querySelector('#remove-to'), document.querySelector('#remove-from')]);

  const calNumOfUsersAdded = () => {
    const numOfUsers = document.querySelector("#num-of-users")
    const numOfUsersAdding = document.querySelector("#num-of-users-adding")
    const users = document.querySelector("#add-from").getElementsByTagName('div')
    const usersAdding = document.querySelector("#add-to").getElementsByTagName('div')
    numOfUsers.innerText = users.length
    numOfUsersAdding.innerText = usersAdding.length
  }

  const calNumOfUsersRemoved = () => {
    const numOfGroupUsers = document.querySelector("#num-of-group-users")
    const numOfGroupUsersRemoving = document.querySelector("#num-of-group-users-removing")
    const groupUsers = document.querySelector("#remove-from").getElementsByTagName('div')
    const groupUsersRemoving = document.querySelector("#remove-to").getElementsByTagName('div')
    numOfGroupUsers.innerText = groupUsers.length
    numOfGroupUsersRemoving.innerText = groupUsersRemoving.length
  }

  addUserDrake.on('drop', calNumOfUsersAdded)
  removeUserDrake.on('drop', calNumOfUsersRemoved)

  /* Searching section */
  const searchUsers = () => {
    const inputText = document.querySelector('#search-users').value
    const users = document.querySelector("#add-from").getElementsByTagName('div')
    Array.from(users).forEach((user) => {
      if(user.querySelector('button').innerText.search(new RegExp(inputText, 'i')) >= 0) {
        user.querySelector('button').style.display = 'inline-block'
      }
      else {
        user.querySelector('button').style.display = 'none'
      }
    })
  }

  const searchGroupUsers = () => {
    const inputText = document.querySelector('#search-group-users').value
    const groupUsers = document.querySelector("#remove-from").getElementsByTagName('div')
    Array.from(groupUsers).forEach((user) => {
      if(user.querySelector('button').innerText.search(new RegExp(inputText, 'i')) >= 0) {
        user.querySelector('button').style.display = 'inline-block'
      }
      else {
        user.querySelector('button').style.display = 'none'
      }
    })
  }

  document.querySelector('#search-users').addEventListener('keyup', (e) => {
    //if(e.keyCode === 13) searchUsers()
    searchUsers()
  })
  document.querySelector('#search-group-users').addEventListener('keyup', (e) => {
    //if(e.keyCode === 13) searchUsers()
    searchGroupUsers()
  })

  /* 페이지 저장/되돌리기 Section */
  document.querySelector('.ui.green.button.wide-width-button').addEventListener('click', () => {
    const userIdxesAdded = Array.from(document.querySelectorAll('.research-management-add button')).map((buttonElem) => parseInt(buttonElem.dataset.idx))
    const userIdxesRemoved = Array.from(document.querySelectorAll('.research-management-remove button')).map((buttonElem) => parseInt(buttonElem.dataset.idx))
    // FIXME: url SHOULD be in configuration file
    const research_idx = document.querySelector('.research-management-body .ui.primary.button').dataset.idx
    const data = {
      user_idxes_added: userIdxesAdded,
      user_idxes_removed: userIdxesRemoved
    }
    console.log(data)
    postJsonData(`http://192.168.33.50/api/research/${research_idx}/updateUsers`, data)
    .then((data) => {
      $('.ui.modal.add-group').modal('hide')
      alert('그룹 사용자가 성공적으로 변경되었습니다.')
      location.reload()
    }) // JSON from `response.json()` call
    .catch((error) => {
      alert('그룹 사용자를 변경하지 못했습니다.')
      $('.ui.modal.add-group').modal('hide')
    })
  })
  document.querySelector('.ui.labeled.icon.button.wide-width-button').addEventListener('click', () => {
    location.reload()
  })
</script>
{% endblock %}
