.ui.grid {
  .exportExcel {
    padding: 30px 0 0 0 !important; margin: 0;

    .segment {
      padding: 0; margin: 0;
    }
  }

  .row {
    margin-top: 70px;

    .statistics {
      .statistic {
        .label {
          margin-top: 20px;
        }
      }
    }
  }
}
