{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/survey/detail.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.questionForm').submit(function (event) {
        if (!confirm('정말 저장하시겠습니까?')) {
          event.preventDefault();
          event.stopPropagation();
          return false;
        }

        return true;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <h1 class="ui header">"{{ survey.name }} (만 {{ survey.min_age }}세 ~ 만{{ survey.max_age }}세) {{ (survey.target == 'GUARDIAN') ? '보호자' : '자녀' }} {{ (survey.app_type == 'BOTH') ? '모든 앱' : survey.app_type }}용" 설문 항목 수정</h1>
  <form class="ui form questionForm" action="{{ ADMIN_URL }}/surveys?surveyIdx={{ survey.idx }}" method="POST">
    <div class="ui segment">
      {% for question in questions %}
        <input type="hidden" name="surveyQuestionIdx[]" value="{{ question.idx }}" />
        <div class="fields">
          <div class="sixteen wide field">
            <label>{{ loop.index }}번 문항</label>
            <input name="surveyQuestionKo[]" type="text" placeholder="{{ loop.index }}번 문항 한글" value="{{ question.question_ko }}" required>
            <br/>
            <br/>
            <input name="surveyQuestionEn[]" type="text" placeholder="{{ loop.index }}번 문항 영어" value="{{ question.question_en }}" required>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="ui grid">
      <div class="row surveyButtons">
        <a href="{{ ADMIN_URL }}/surveys" class="negative ui labeled icon button" tabindex="0">
          <i class="reply icon"></i>
          돌아가기
        </a>
        <button class="positive ui labeled icon button" tabindex="0" type="submit">
          <i class="check icon"></i>
          저장
        </button>
      </div>
    </div>
  </form>
{% endblock %}
