{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}/dist/js/Chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById("pointsChart");
    var barChartData = {
      labels: ["총 점수 (평균)"],
      datasets: [{
        label: '사전',
        backgroundColor: "#ED7D31",
        data: [{{ avg_begin_survey_point }}]
      }, {
        label: "사후",
        backgroundColor: "#5B9BD5",
        data: [{{ avg_end_survey_point }}]
      }]
    };

    var barChartDemo = new Chart(ctx, {
      type: 'bar',
      data: barChartData
    });
  </script>
{% endblock %}


{% block contents %}
  <h1 class="ui header datetime">{{ survey.name }}
    {{ (survey.target == 'GUARDIAN') ? '보호자용' : '자녀용' }}
    (만 {{ survey.min_age }}세 ~ 만 {{ survey.max_age }}세) 그래프</h1>
  <hr />

  <h3 class="ui header">평균 점수 그래프</h3>
  <hr/>
  <canvas id="pointsChart"></canvas>

  <div class="ui basic right aligned segment">
    <a href="/admin/surveys/results?type={{ app_type|lower }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      목록으로
    </a>
  </div>
{% endblock %}
