{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/survey/index.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.activateBtn').click(function () {
        if (!confirm('정말 활성화하시겠습니까?')) {
          return false;
        }
      });

      $('.deactivateBtn').click(function () {
        if (!confirm('정말 비활성화하시겠습니까?')) {
          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <h1 class="ui header">설문 관리</h1>
    <table class="ui celled definition table">
      {% for survey in surveys %}
        <tr>
          <td>
            {{ survey.name }}
            {{ (survey.target == 'GUARDIAN') ? '보호자용' : '자녀용' }}
            (만 {{ survey.min_age }}세 ~ 만 {{ survey.max_age }}세)
          </td>
          <td>
            {{ survey.acronym }}
          </td>
          <td>
            <a href="{{ ADMIN_URL }}/surveys/detail?surveyIdx={{ survey.idx }}" class="positive ui labeled icon button" style="width: 100%;">
              <i class="check icon"></i>
              설문 항목 수정하기
            </a>
          </td>
          <td>
            {% if survey.is_active %}
              <a href="{{ ADMIN_URL }}/surveys/deactivate?surveyIdx={{ survey.idx }}" class="negative ui labeled icon button deactivateBtn" style="width: 100%;">
                <i class="remove icon"></i>
                비활성화
              </a>
            {% else %}
              <a href="{{ ADMIN_URL }}/surveys/activate?surveyIdx={{ survey.idx }}" class="positive ui labeled icon button activateBtn" style="width: 100%;">
                <i class="check icon"></i>
                활성화
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
