{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportBtn').click(function (e) {
        if (!confirm('정말 엑셀로 추출하시겠습니까?')) {
          e.preventDefault();

          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{ research['title'] }} - {{ app_type|upper }} 설문조사 결과</h2>
    <div class="right menu">
      <a class="ui {{ app_type|lower == 'yface' ? 'active' }} item" href="{{ ADMIN_URL }}/surveys/results?type=yface" style="color: #D7D8F5;">YFACE</a>
      <a class="ui {{ app_type|lower == 'ycog' ? 'active' }} item" href="{{ ADMIN_URL }}/surveys/results?type=ycog" style="color: #1E96E0;">YCOG</a>
    </div>
  </div>

  <div class="ui basic right aligned segment">
    <a href="{{ ADMIN_URL }}/surveys/{{ app_type|lower }}/export" class="ui blue button exportBtn">전체 엑셀 추출</a>
  </div>

  <div class="ui grid">
    <table class="ui celled definition table">
      {% for survey in surveys %}
        <tr>
          <td>
            {{ survey.name }}
            {{ (survey.target == 'GUARDIAN') ? '보호자용' : '자녀용' }}
            (만 {{ survey.min_age }}세 ~ 만 {{ survey.max_age }}세)
          </td>
          <td>
            {{ survey.acronym }}
          </td>
          <td>
            <a href="{{ ADMIN_URL }}/surveys/{{ survey.idx }}/{{ app_type|lower }}/export" class="blue ui button exportBtn" style="width: 100%;">
              엑셀 추출
            </a>
          </td>
          <td>
            <a href="{{ ADMIN_URL }}/surveys/{{ survey.idx }}/{{ app_type|lower }}/graph" class="green ui button deactivateBtn" style="width: 100%;">
              그래프 보기
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
