.ui.column {
  .dashboard-stat {
    .segments {
      .dashboard {
        .statistic {
          .value {
            font-size: 2rem !important;
          }
          .label.gameLevelSettingButton {
            margin-top: 1em;
          }
        }
      }
    }
  }
}