{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/game/index.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.gamePauseButton > a').click(function (event) {
        var msg = '게임을 ';
        if ($(this).hasClass('negative')) {
          msg += '비';
        }

        msg += '활성화 하시겠습니까? 반영은 내일 부터 됩니다.';

        if (confirm(msg)) {
          return true;
        }

        event.preventDefault();
        return false;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <h1 class="ui header">{{ app_type|upper }} 게임 관리</h1>
    <div class="row gameLabelIndex">
      <a class="ui green label">
        <i class="check icon"></i> 오늘의 게임
      </a>
      <a class="ui grey label">
        <i class="circle thin icon"></i> 선택안된 게임
      </a>
      <a class="ui red label">
        <i class="lock icon"></i> 중단된 게임
      </a>
    </div>
    {% set gameCount = games|length %}
    {% set rowCount = gameCount / 3 %}
    {% for offset in 0..rowCount %}
      <div class="ui three column row">
        {% for game in games|slice(offset * 3, 3) %}
          <div class="dashboard-stat column">
            <div class="ui segments">
              {% set divClass = (game.is_disabled) ? 'red' : 'tertiary' %}
              {% if game.code in today_games %}
                {% set divClass = divClass ~ ' green' %}
              {% endif %}
              <div class="ui secondary {{ divClass }} inverted dashboard center aligned segment">
                <div class="ui dashboard statistic">
                  <div class="value">
                    {{ game.title_kr }}
                  </div>
                  <div class="label gamePauseButton">
                    {% if game.is_disabled %}
                      <a href="{{ ADMIN_URL }}/games/activate?gameCode={{ game.code }}" class="positive ui labeled icon button">
                        <i class="check icon"></i>
                        활성화
                      </a>
                    {% else %}
                      <a href="{{ ADMIN_URL }}/games/deactivate?gameCode={{ game.code }}" class="negative ui labeled icon button">
                        <i class="remove icon"></i>
                        비활성화
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
