<html>
<head>
  <title>저작권 약관</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta http-equiv="content-language" content="ko-kr">
  <style>
    /* reset */
    @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
    @charset "utf-8";
    html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, p, strong, div { margin: 0; padding: 0; -webkit-overflow-scrolling: touch; }
    article, footer, header, nav, section { display: block; margin: 0; padding: 0; }
    h1, h2, h3, h4, h5, h6, p, th, td, div, label, a, li, button, textarea {
      color: #333132; font-size: 12px; line-height: 1em; letter-spacing: -.03em;
      font-family: '나눔고딕', 'Nanum Gothic', Helvetica Neue, 'Apple SD Gothic Neo', arial, '돋움', Dotum, Tahoma, Geneva, sans-serif;
      -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
    }
    ul { list-style-type: none; }
    table { border-collapse: collapse; border-spacing: 0; }
    img { vertical-align: middle; outline: none; border: 0; -ms-interpolation-mode: bicubic; }

    /* content */
    #copyrights_view_body { background-color: #eabe47; width: 100%; height: 100%; }

    /* toparea */
    #copyrights_view_body .top_description {
      background-color: #fff; text-align: center; padding: 22px;
      border-bottom-right-radius: 37px; -webkit-border-bottom-right-radius: 37px;
      border-bottom-left-radius: 37px; -webkit-border-bottom-left-radius: 37px;
    }
    #copyrights_view_body .top_description .description_text { color: #004e78; font-size: 14px; line-height: 1.5em; }
    .copyrights_context {
      background: #fff; margin-top: 1px; padding: 9px 42px 40px 42px;
      border-radius: 37px; -webkit-border-radius: 37px;
    }
    .copyrights_context .copyrights_list .copyright_element { display: table; width: 100%; padding-top: 24px;}
    .copyrights_context .copyrights_list .copyright_element:first-child { padding-top: 10px; }
    .copyrights_context .copyrights_list .copyright_element .copyright_type,
    .copyrights_context .copyrights_list .copyright_element .copyright_text { display: table-cell; line-height: 1.5em; }
    .copyrights_context .copyrights_list .copyright_element .copyright_type { font-weight: bold; }
    .copyrights_context .copyrights_list .copyright_element .copyright_type.type_maker,
    .copyrights_context .copyrights_list .copyright_element .copyright_type.type_supporter { width: 54px; }
    .copyrights_context .copyrights_list .copyright_element .copyright_type.type_developer { width: 102px; }
    .copyrights_context .copyrights_list .copyright_element .copyright_type.type_design_builder { width: 70px; }
    .copyrights_context .copyrights_list .copyright_element .copyright_type.type_ideator { width: 66px; }
    .copyrights_context .copyrights_etc,
    .copyrights_context .open_source_license { padding-top: 27px; }
    .copyrights_context .copyrights_etc .copyright_type,
    .copyrights_context .open_source_license .copyright_type {
      font-weight: bold;
    }
    .copyrights_context .copyrights_etc .etc_copyright_list,
    .copyrights_context .open_source_license .open_source_license_list { padding-top: 3px; }
    .copyrights_context .copyrights_etc .etc_copyright_list .etc_copyright_element,
    .copyrights_context .open_source_license .open_source_license_list .open_source_license_element {
      position: relative; padding: 2px 0 0 23px; line-height: 1.5em;
    }
    .copyrights_context .open_source_license .open_source_license_list .open_source_license_element .open_source_title {
      font-size: 12px;
    }
    .copyrights_context .open_source_license .open_source_license_list .open_source_license_element .open_source_link {
      display: block; padding-top: 4px; line-height: 1.4em; color: #3171B2;
    }
    .copyrights_context .open_source_license .open_source_license_list .open_source_license_element .open_source_description {
      padding-top: 4px; line-height: 1.4em; color: #999;
    }
    .copyrights_context .copyrights_etc .etc_copyright_list .etc_copyright_element:before,
    .copyrights_context .open_source_license .open_source_license_list .open_source_license_element:before {
      position: absolute; top: 0; left: 13px; content: "\2010";
    }
    .organizations { padding-top: 39px; }
    .organizations .organization_list .organization { display: inline-block; width: 50%; text-align: center; vertical-align: top; }
    .organizations .organization_list .organization .organization_title { font-size: 15px; }
    .organizations .organization_list .organization .organization_logo_wrapper { height: 100px; display: flex; align-items: center; }
    .organizations .organization_list .organization .organization_logo_wrapper .organization_logo { display: block; margin: 0 auto; }
    .organizations .organization_list .organization .organization_logo_wrapper .organization_logo.yonsei { width: 79px; }
    .organizations .organization_list .organization .organization_logo_wrapper .organization_logo.khidi { width: 115px; }
    .organizations .organization_list .organization .organization_description { font-size: 11px; line-height: 1.4em; }
  </style>
</head>
<body id="copyrights_view_body">
<header class="top_description">
  <h2 class="description_text">
    {% if app_type == 'yface' %}
      본 약관의 목적은 Yface 어플리케이션을 통하여 제공되는 프로그램이
      <br />정보 출처를 밝히지 않고 무단 사용, 변조, 상업적인 용도 등으로 사용되어
      <br />어플리케이션 이용자에게 피해를 끼치는 사례를 방지하기 위함입니다.
    {% else %}
      본 약관의 목적은 Ycog 어플리케이션을 통하여 제공되는 프로그램이
      <br />정보 출처를 밝히지 않고 무단 사용, 변조, 상업적인 용도 등으로 사용되어
      <br />어플리케이션 이용자에게 피해를 끼치는 사례를 방지하기 위함입니다.
    {% endif %}
  </h2>
</header>
<section class="copyrights_context">
  <ul class="copyrights_list">
    <li class="copyright_element">
      <p class="copyright_type type_maker">제작기관 : </p>
      <p class="copyright_text">
        연세대학교 행동심리연구실 (디자인 기획: 박종표, 일러스트 제작: 석현지)
      </p>
    </li>
    <li class="copyright_element">
      <p class="copyright_type type_supporter">지원기관 : </p>
      <p class="copyright_text">
        본 사업은 보건복지부의 재원으로 한국보건산업진흥원의 보건의료기술 연구개발사업 지원에 의하여 이루어진 것입니다. (과제번호: HI15C0817)
      </p>
    </li>
    <li class="copyright_element">
      <p class="copyright_type type_ideator">지적재산권 : </p>
      <p class="copyright_text">
        {% if app_type == 'yface' %}
          본 앱 및 그에 포함된 모든 구성요소에 대한 일체의 권리는 연세대학교 행동심리연구실에 있습니다. 귀하는 연세대학교의 지적재산권 등 권리의 보호에 적용되는 법률에 준수할 것을 동의합니다. 본 앱에는 삼성전자 주식회사가 지원하고 연세대학교와 분당서울대병원에서 제작한 “룩앳미”어플리케이션의 콘텐츠 일부가 포함되어 있습니다. “룩앳미”어플리케이션의 일체 권리는 삼성전자주식회사가 가지고 있습니다.
        {% else %}
          본 앱 및 그에 포함된 모든 구성요소에 대한 일체의 권리는 연세대학교 행동심리연구실에 있습니다. 귀하는 연세대학교의 지적재산권 등 권리의 보호에 적용되는 법률에 준수할 것을 동의합니다.
        {% endif %}
      </p>
    </li>
  </ul>
  {# TODO: 무료음원정보 받으면 추가 처리 후 주석해제 처리 필요. #}
  <div class="open_source_license">
    <p class="copyright_type type_open_license">무료음원 라이선스 :</p>
    <ul class="open_source_license_list">
      {% if app_type == 'yface' %}
        <li class="open_source_license_element">
          <strong class="open_source_title">main 배경음</strong>
          <a href="http://opengameart.org/content/acrostics" class="open_source_link" target="_blank">http://opengameart.org/content/acrostics</a>
          <p class="open_source_description">by Cityfires</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">공룡테마 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">공주테마 배경음</strong>
          <a href="http://www.purple-planet.com" class="open_source_link" target="_blank">http://www.purple-planet.com</a>
          <p class="open_source_description">by Purple Planet</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">로봇테마 배경음</strong>
          <a href="opengameart.org" class="open_source_link" target="_blank">opengameart.org</a>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">세계여행테마 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">상점 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
      {% else %}
        <li class="open_source_license_element">
          <strong class="open_source_title">main 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">공룡테마 배경음</strong>
          <a href="https://www.freesound.org/people/maxmakessounds/sounds/353543/" class="open_source_link" target="_blank">https://www.freesound.org/people/maxmakessounds/sounds/353543/</a>
          <p class="open_source_description">by maxmakessounds</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">공주테마 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">로봇테마 배경음</strong>
          <a href="http://www.purple-planet.com" class="open_source_link" target="_blank">http://www.purple-planet.com</a>
          <p class="open_source_description">by Purple Planet</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">세계여행테마 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
        <li class="open_source_license_element">
          <strong class="open_source_title">상점 배경음</strong>
          <a href="http://opengameart.org/users/syncopika" class="open_source_link" target="_blank">http://opengameart.org/users/syncopika</a>
          <p class="open_source_description">by Syncopika</p>
        </li>
      {% endif %}
      <li class="open_source_license_element">
        <strong class="open_source_title">팝업창</strong>
        <a href="https://www.freesound.org" class="open_source_link" target="_blank">https://www.freesound.org</a>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">답터치&버튼터치</strong>
        <a href="https://www.freesound.org/people/Glaneur%20de%20sons/sounds/104946/" class="open_source_link" target="_blank">https://www.freesound.org/people/Glaneur%20de%20sons/sounds/104946/</a>
        <p class="open_source_description">by Glaneur de sons</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">레벨up</strong>
        <a href="https://www.freesound.org/people/LittleRobotSoundFactory/sounds/270404/" class="open_source_link" target="_blank">https://www.freesound.org/people/LittleRobotSoundFactory/sounds/270404/</a>
        <p class="open_source_description">by LittleRobotSoundFactory</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">별획득</strong>
        <a href="https://www.freesound.org/people/rhodesmas/sounds/342750/" class="open_source_link" target="_blank">https://www.freesound.org/people/rhodesmas/sounds/342750/</a>
        <p class="open_source_description">by rhodesmas</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">별획득</strong>
        <a href="https://soundcloud.com/virix" class="open_source_link" target="_blank">https://soundcloud.com/virix</a>
        <p class="open_source_description">by David McKee</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">별획득실패</strong>
        <a href="https://www.freesound.org" class="open_source_link" target="_blank">https://www.freesound.org</a>
        <p class="open_source_description">by benboncan</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">상점구매</strong>
        <a href="https://www.freesound.org" class="open_source_link" target="_blank">https://www.freesound.org</a>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">선택한 답취소, 상점_에러</strong>
        <a href="https://www.freesound.org" class="open_source_link" target="_blank">https://www.freesound.org</a>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">시간프롬트</strong>
        <a href="https://www.freesound.org/people/ultradust/" class="open_source_link" target="_blank">https://www.freesound.org/people/ultradust/</a>
        <p class="open_source_description">by Ultradust</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">오늘의 결과는</strong>
        <a href="http://opengameart.org" class="open_source_link" target="_blank">http://opengameart.org</a>
        <p class="open_source_description">by Bartkelsey</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">오늘의 결과는</strong>
        <a href="https://www.freesound.org" class="open_source_link" target="_blank">https://www.freesound.org</a>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">오답</strong>
        <a href="https://freesound.org/people/FoolBoyMedia/" class="open_source_link" target="_blank">https://freesound.org/people/FoolBoyMedia/</a>
        <p class="open_source_description">by foolboymedia</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">정답</strong>
        <a href="https://freesound.org/people/FoolBoyMedia/" class="open_source_link" target="_blank">https://freesound.org/people/FoolBoyMedia/</a>
        <p class="open_source_description">by foolboymedia</p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">정답</strong>
        <a href="https://www.soundjay.com/" class="open_source_link" target="_blank">https://www.soundjay.com/</a>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">카드</strong>
        <a href="https://www.freesound.org/people/f4ngy/" class="open_source_link" target="_blank">https://www.freesound.org/people/f4ngy/</a>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">카운트다운</strong>
        <a href="http://opengameart.org" class="open_source_link" target="_blank">http://opengameart.org</a>
        <p class="open_source_description">by Bartkelsey</p>
      </li>
    </ul>
  </div>
  <div class="open_source_license">
    <p class="copyright_type type_open_license">오픈소스 라이선스 :</p>
    <ul class="open_source_license_list">
      <li class="open_source_license_element">
        <strong class="open_source_title">Retrofit</strong>
        <a href="http://square.github.io/retrofit/" class="open_source_link" target="_blank">http://square.github.io/retrofit/</a>
        <p class="open_source_description">
          Copyright 2013 Square, Inc.<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">OkHttp</strong>
        <a href="http://square.github.io/okhttp/" class="open_source_link" target="_blank">http://square.github.io/okhttp/</a>
        <p class="open_source_description">
          Copyright 2016 Square, Inc.<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">EventBus</strong>
        <a href="http://greenrobot.org/eventbus/" class="open_source_link" target="_blank">http://greenrobot.org/eventbus/</a>
        <p class="open_source_description">
          Copyright (C) 2012-2016 Markus Junginger, greenrobot (http://greenrobot.org)<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">typekit</strong>
        <a href="https://github.com/tsengvn/typekit" class="open_source_link" target="_blank">https://github.com/tsengvn/typekit</a>
        <p class="open_source_description">
          Copyright (c) 2015 Hien Ngo<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">CircleImageView</strong>
        <a href="https://github.com/hdodenhof/CircleImageView" class="open_source_link" target="_blank">https://github.com/hdodenhof/CircleImageView</a>
        <p class="open_source_description">
          Copyright 2014 - 2017 Henning Dodenhof<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">Android-Image-Cropper</strong>
        <a href="https://github.com/ArthurHub/Android-Image-Cropper" class="open_source_link" target="_blank">https://github.com/ArthurHub/Android-Image-Cropper</a>
        <p class="open_source_description">
          Copyright 2016, Arthur Teplitzki, 2013, Edmodo, Inc.<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">Apache Commons Compress</strong>
        <a href="https://commons.apache.org/proper/commons-compress/" class="open_source_link" target="_blank">https://commons.apache.org/proper/commons-compress/</a>
        <p class="open_source_description">
          Copyright 2002-2017 The Apache Software Foundation<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">MPAndroidChart</strong>
        <a href="https://github.com/PhilJay/MPAndroidChart" class="open_source_link" target="_blank">https://github.com/PhilJay/MPAndroidChart</a>
        <p class="open_source_description">
          Copyright 2016 Philipp Jahoda<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">FlipView</strong>
        <a href="https://github.com/davideas/FlipView" class="open_source_link" target="_blank">https://github.com/davideas/FlipView</a>
        <p class="open_source_description">
          Copyright 2015-2016 Davide Steduto<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">Sensey</strong>
        <a href="http://nisrulz.github.io/sensey/" class="open_source_link" target="_blank">http://nisrulz.github.io/sensey/</a>
        <p class="open_source_description">
          Copyright 2016 Nishant Srivastava<br />
          Apache License 2.0
        </p>
      </li>
      <li class="open_source_license_element">
        <strong class="open_source_title">Picasso</strong>
        <a href="http://square.github.io/picasso/" class="open_source_link" target="_blank">http://square.github.io/picasso/</a>
        <p class="open_source_description">
          Copyright 2013 Square, Inc.<br />
          Apache License 2.0
        </p>
      </li>
    </ul>
  </div>
  <footer class="organizations">
    <ul class="organization_list">
      <li class="organization">
        <p class="organization_title">제작</p>
        <div class="organization_logo_wrapper">
          <img src="{{ STATIC_URL }}/images/yonsei_logo.png" alt="yonsei" class="organization_logo yonsei" />
        </div>
        <p class="organization_description">연세대학교 심리학과<br />행동심리연구실</p>
      </li><li class="organization">
        <p class="organization_title">지원</p>
        <div class="organization_logo_wrapper">
          <img src="{{ STATIC_URL }}/images/khidi_logo.png" alt="khidi" class="organization_logo khidi" />
        </div>
        <p class="organization_description">보건복지부</p>
      </li>
    </ul>
  </footer>
</section>
</body>
</html>