{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/game/level/detail.min.css">
{% endblock %}

{% block script %}
  <script src="{{ STATIC_URL }}/dist/js/jquery.serialize-object.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('.levelMenu > a').click(function () {
        $('.levelMenu > a').removeClass('active');
        $(this).addClass('active');

        $('.ui.segment').removeClass('active');
        $('.ui.segment.level_' + $(this).data('level')).addClass('active');

        return false;
      });

      $('.levelForm').submit(function (event) {
        if (!confirm('전체 난이도 정보를 저장하시겠습니까?')) {
          event.preventDefault();

          return false
        }

        for (var i = 1; i <= 15; i++) {
          var jsonString = JSON.stringify($('.levelForm .level_' + i + ' :input').serializeObject());

          $('.levelForm input[name=level_' + i + ']').val(jsonString);
        }

        return true;
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <h1 class="ui header">"{{ game.title_kr }}" 난이도 조절</h1>
  <div class="ui secondary pointing menu levelMenu">
    {% for level in levels %}
      <a class="{% if loop.first %}active {% endif %}item" data-level="{{ level.level }}">
        {{ level.level }}
      </a>
    {% endfor %}
  </div>

  <form class="ui form levelForm" action="{{ ADMIN_URL }}/games/level?gameCode={{ game_code }}" method="POST">
    {% for level in levels %}
      <input type="hidden" name="level_{{ level.level }}" value="{{ level.level_info }}" />
      <div class="ui segment{% if loop.first %} active{% endif %} level_{{ level.level }}">
        <h2 class="ui header">{{ loop.index }} 레벨</h2>
        {% for key, value in level.level_info|json_decode %}
          <div class="fields">
            <div class="eight wide field">
              <label>{{ level_title_map[key] }}</label>
              <input name="{{ key }}" type="text" placeholder="{{ key }}" value="{{ value }}" required>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="ui grid">
      <div class="row levelButtons">
        <a href="{{ ADMIN_URL }}/games/level?app={{ app_type }}" class="negative ui labeled icon button" tabindex="0">
          <i class="reply icon"></i>
          돌아가기
        </a>
        <button class="positive ui labeled icon button" tabindex="0" type="submit">
          <i class="check icon"></i>
          저장
        </button>
      </div>
    </div>
  </form>
{% endblock %}