{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/game/level/index.min.css">
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <h1 class="ui header datetime">{{ app_type|upper }} 게임 레벨 관리</h1>
    {% set gameCount = games|length %}
    {% set rowCount = gameCount / 3%}
    {% for offset in 0..rowCount %}
      <div class="ui three column row">
        {% for game in games|slice(offset * 3, 3) %}
          <div class="dashboard-stat column">
            <div class="ui segments">
              <div class="ui secondary tertiary inverted dashboard center aligned segment" style="background: {% if app_type|lower == 'yface' %}#FFD966{% else %}#9DC3E6{% endif %}">
                <div class="ui dashboard statistic">
                  <div class="value">
                    {{ game.title_kr }}
                  </div>
                  <div class="label gameLevelSettingButton">
                    <a href="{{ ADMIN_URL }}/games/level/detail?gameCode={{ game.code }}" class="positive ui labeled icon button">
                      <i class="setting icon"></i>
                      난이도 관리
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
