{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/statistics/app.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportToExcelBtn').click(function () {
        if (!confirm('정말 엑셀로 추출하시겠습니까?')) {
          return false;
        }

        location.href = '/admin/statistics/app/excel?type=' + $(this).data('type');

        return false;
      })
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <div class="ui secondary pointing fluid menu">
      <h2 class="ui header">{{ research.title }} - 앱 별 통계</h2>
      <div class="right menu">
        <a class="ui {{ app_type == 'yface' ? 'active' }} item" href="{{ ADMIN_URL }}/statistics/app?type=yface" style="color: #D7D8F5;">YFACE</a>
        <a class="ui {{ app_type == 'ycog' ? 'active' }} item" href="{{ ADMIN_URL }}/statistics/app?type=ycog" style="color: #1E96E0;">YCOG</a>
      </div>
    </div>

    <div class="sixteen wide exportExcel column">
      <div class="ui basic right aligned segment">
        <button class="blue ui labeled icon button exportToExcelBtn" data-type="{{ app_type }}">
          <i class="cloud download icon"></i>
          엑셀로 추출
        </button>
      </div>
    </div>

    <div class="row">
      <div class="ui four customer statistics">
        <div class="teal statistic">
          <div class="value">
            {{ total_user_count }}
          </div>
          <div class="label">
            전체 참가자 수<br/>(비활성 유저 제외)
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ survey_completed_count }}
          </div>
          <div class="label">
            설문 작성까지 완료한 참가자 수<br/>(비활성 유저 제외)
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ praise_start_count }}
          </div>
          <div class="label">
            칭찬스티커를 사용하는 참가자 수<br/>(비활성 유저 제외)
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ avg_play_time }} 초
          </div>
          <div class="label">
            전체 게임 평균 소요 시간
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ui four customer statistics">
        <div class="teal statistic">
          <div class="value">
            {{ user_themes[0] }}
          </div>
          <div class="label">
            공룡시대 선택 횟수
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ user_themes[1] }}
          </div>
          <div class="label">
            루루공주 선택 횟수
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ user_themes[2] }}
          </div>
          <div class="label">
            세계여행 선택 횟수
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ user_themes[3] }}
          </div>
          <div class="label">
            로봇세상 선택 횟수
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ui four customer statistics">
        <div class="teal statistic">
          <div class="value">
            {{ avg_user_titles[0] }} 일
          </div>
          <div class="label">
            베테랑 달성 평균 소요일수
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ avg_user_titles[1] }} 일
          </div>
          <div class="label">
            전문가 달성 평균 소요일수
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ avg_user_titles[2] }} 일
          </div>
          <div class="label">
            마스터 달성 평균 소요일수
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ avg_user_titles[3] }} 일
          </div>
          <div class="label">
            그랜드 마스터 달성 평균 소요일수
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="ui four customer statistics">
        <div class="teal statistic">
          <div class="value">
            {{ avg_game_play_per_day }}
          </div>
          <div class="label">
            하루 평균 게임 실행 횟수 <br/> (10일 이상 사용하지 않은 사용자 제외)
          </div>
        </div>
        <div class="teal statistic">
          <div class="value">
            {{ avg_consecutive_game_play_day }}
          </div>
          <div class="label">
            평균 지속 일수 <br/> (10일 이상 사용하지 않은 사용자 제외)
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
