{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}/dist/js/Chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById("levelChart");
    var dataSets = [];
    var labels = [];
    {% if avg_accuracy_by_level|length > 0 %}
      {% for value in avg_accuracy_by_level %}
    labels.push({{ loop.index }});
    dataSets.push({{ value.avg_accuracy }});
      {% endfor %}
    {% endif %}

    var data = {
      labels: labels,
      datasets: [
        {
          label: "레벨별 정답률",
          fill: false,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: dataSets
        }
      ]
    };

    dataSets = [];
    labels = [];
    {% if avg_response_time_by_level|length > 0 %}
    {% for value in avg_response_time_by_level %}
    labels.push({{ loop.index }});
    dataSets.push({{ value.avg_rt }});
    {% endfor %}
    {% endif %}

    var levelChart = new Chart(ctx, {
      type: 'line',
      data: data
    });

    var responseCtx = document.getElementById("responseChart");
    data = {
      labels: labels,
      datasets: [
        {
          label: "레벨별 반응 시간",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: dataSets,
          spanGaps: false
        }
      ]
    };
    var responseChart = new Chart(responseCtx, {
      type: 'line',
      data: data
    });
  </script>
{% endblock %}


{% block contents %}
  <h1 class="ui header datetime">{{ games[game_code - 1] }} 정보</h1>
  <hr />

  <h3 class="ui header">레벨별 정답률</h3>
  <hr/>
  <canvas id="levelChart"></canvas>


  <h3 class="ui header">레벨별 반응 시간</h3>
  <hr/>
  <canvas id="responseChart"></canvas>


  <h3 class="ui header">게임 요약</h3>
  <hr/>
  <table class="ui celled table">
    <thead>
    <th>누적 별 개수</th>
    <th>누적 포인트</th>
    <th>총 시행 횟수</th>
    <th>평균 레벨업 소요 일수</th>
    </thead>
    <tbody>
    <tr>
      <td>{{ total_star }}</td>
      <td>{{ total_point }}</td>
      <td>{{ total_play_count }}</td>
      <td>{{ avg_level_up_day }}</td>
    </tr>
    </tbody>
  </table>

  <div class="ui basic right aligned segment">
    <a href="/admin/statistics/games?app={{ app_type|lower }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      게임 정보로
    </a>
  </div>
{% endblock %}
