{% extends "/admin/base.twig" %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/dist/css/game/index.min.css">
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportToExcelBtn').click(function () {
        if (!confirm('정말 엑셀로 다운로드 받으시겠습니까?')) {
          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui grid">
    <div class="ui secondary pointing fluid menu">
      <h2 class="ui header">{{ research.title }} - {{ app_type|upper }} 게임별 통계</h2>
      <div class="right menu">
        <a class="ui {{ app_type|lower == 'yface' ? 'active' }} item" href="{{ ADMIN_URL }}/statistics/games?app=yface" style="color: #D7D8F5;">YFACE</a>
        <a class="ui {{ app_type|lower == 'ycog' ? 'active' }} item" href="{{ ADMIN_URL }}/statistics/games?app=ycog" style="color: #1E96E0;">YCOG</a>
      </div>
    </div>

    <div class="ui basic right aligned segment">
      <a href="/admin/statistics/games/{{ app_type|lower }}/export" class="blue ui labeled icon button exportToExcelBtn">
        <i class="cloud download icon"></i>
        엑셀 추출
      </a>
    </div>

    {% set gameCount = games|length %}
    {% set rowCount = gameCount / 3 %}
    {% for offset in 0..rowCount %}
      <div class="ui three column row">
        {% for game in games|slice(offset * 3, 3) %}
          <div class="dashboard-stat column">
            <div class="ui segments">
              <div class="ui secondary inverted dashboard center aligned segment" style="background: {% if app_type|lower == 'yface' %}#FFD966{% else %}#9DC3E6{% endif %}">
                <div class="ui dashboard statistic">
                  <div class="value">
                    {{ game.title_kr }}
                  </div>
                  <div class="label" style="margin-top: 10px;">
                    <a href="{{ ADMIN_URL }}/statistics/games/{{ game.code }}" class="ui labeled icon button">
                      <i class="signal icon"></i>
                      통계 보기
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <script>
    // const _urlParams = new URLSearchParams(window.location.search)
    // if(_urlParams.has('research')) {
    //   Array.from(document.querySelectorAll('.right.menu a')).forEach((link) => link.href += `&research=${_urlParams.get('research')}`)
    //   Array.from(document.querySelectorAll('.ui.dashboard.statistic a')).forEach((link) => link.href += `?research=${_urlParams.get('research')}`)
    // }
  </script>
{% endblock %}
