{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportAllBtn').click(function (e) {
        if (!confirm('정말 엑셀로 출력하시겠습니까?')) {
          e.preventDefault();

          return false;
        }
      });
    });
  </script>
{% endblock %}

{% block contents %}
  <div class="ui secondary pointing fluid menu">
    <h2 class="ui header">{{ research.title }} - {{ app_type|upper }} 칭찬스티커 사용자</h2>
    <div class="right menu">
      <a class="ui {{ app_type == 'yface' ? 'active' }} item" href="{{ ADMIN_URL }}/statistics/praises?type=yface" style="color: #D7D8F5;">YFACE</a>
      <a class="ui {{ app_type == 'ycog' ? 'active' }} item" href="{{ ADMIN_URL }}/statistics/praises?type=ycog" style="color: #1E96E0;">YCOG</a>
    </div>
  </div>

  <div class="ui basic right aligned segment">
    <a href="/admin/statistics/praises/{{ app_type }}/export" class="ui blue button exportAllBtn">엑셀 추출</a>
  </div>

  <table class="ui celled table">
    <thead>
      <th>번호</th>
      <th>회원 아이디</th>
      <th>이름</th>
      <th>생년월일</th>
      <th>이메일 및 연락처</th>
      <th>닉네임</th>
      <th>사용자 유형</th>
      <th>최근 로그인 일자</th>
      <th>칭찬스티커 사용</th>
      <th>그래프</th>
    </thead>
    <tbody>
    {% for user in users %}
      <tr class="{% if user.is_disabled %}error{% endif %} {% if user.is_experiment %}positive{% endif %}">
        <td>{{ user.idx }}</td>
        <td><a href="/admin/users/{{ user.idx }}">{{ user.id }}</a></td>
        <td>{{ user.name }}</td>
        <td>{{ user.birth_date }}</td>
        <td><a href="/admin/users/{{ user.idx }}">{{ user.email }}<br/>{{ user.phone }}</a></td>
        <td>{{ user.nickname }}</td>
        <td>{{ (user.is_experiment) ? '실험 대상자' : '일반 사용자' }}</td>
        <td>{{ user.latest_login_date }}</td>
        <td>
          {% if attribute(user, app_type ~ '_praise_start_date') %}
            <a class="ui blue button" href="/admin/statistics/praises/{{ app_type }}/{{ user.idx }}" style="width: 100%;">
              사용
            </a>
          {% else %}
            <button class="ui button disabled">미사용</button>
          {% endif %}
        </td>
        <td>
          {% if attribute(user, app_type ~ '_praise_start_date') %}
            <a href="/admin/statistics/praises/{{ app_type }}/{{ user.idx }}/graph" class="ui green button" style="width: 100%;">그래프 보기</a>
          {% else %}
            <button class="ui button disabled">미사용</button>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    {% if pagination %}
      <tfoot>
      <tr>
        <th colspan="11">
          <div class="ui right floated pagination menu">
            {% for number, position in pagination %}
              {% if position == 'first' %}
                <a href="{{ ADMIN_URL }}/statistics/praises?type={{ app_type }}&page={{ number }}" class="item {{ page == number ? 'active' : '' }}">
                  <i class="left chevron icon"></i>
                </a>
              {% elseif position == 'less' or position == 'more' %}
                <li>...</li>
              {% elseif position == 'previous' or position == 'next' %}
                <a href="{{ ADMIN_URL }}/statistics/praises?type={{ app_type }}&page={{ number }}" class="item {{ page == number ? 'active' : '' }}">{{ number }}</a>
              {% elseif position == 'current' %}
                <a href="{{ ADMIN_URL }}/statistics/praises?type={{ app_type }}&page={{ number }}" class="item {{ page == number ? 'active' : '' }}">{{ number }}</a>
              {% elseif position == 'last' %}
                <a href="{{ ADMIN_URL }}/statistics/praises?type={{ app_type }}&page={{ number }}" class="item {{ page == number ? 'active' : '' }}">
                  <i class="right chevron icon"></i>
                </a>
              {% endif %}
            {% endfor %}
          </div>
        </th>
      </tr>
      </tfoot>
    {% endif %}
  </table>
{% endblock %}
