{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript">
    $(function () {
      $('.exportToExcelBtn').click(function () {
        if (!confirm('정말 엑셀로 다운로드 받으시겠습니까?')) {
          return false;
        }
      });
    });
  </script>
{% endblock %}


{% block contents %}
  {% set first_date = attribute(user, (app_type|lower ~ '_praise_start_date')) %}
  <h1 class="ui header datetime">{{ user.name }} {{ app_type|upper }} 칭찬스티커 ({{ first_date|date('Y-m-d') }} ~ )</h1>
  <hr />
  <div class="ui basic right aligned segment">
    <a href="/admin/statistics/praises/{{ app_type }}/{{ user.idx }}/export" class="blue ui labeled icon button exportToExcelBtn">
      <i class="cloud download icon"></i>
      엑셀 추출
    </a>
  </div>

  <h3 class="ui header">주차별 표</h3>
  <div class="container" style="overflow: auto; height: 540px;">
    <table class="ui celled compact small table">
      <thead>
      <th>주차</th>
      <th>일자</th>
      <th>게임 점수</th>
      {% for title in promise_titles %}
        <th>{{ title }}</th>
      {% endfor %}
      </thead>
      <tbody>
      {% for weeks in 1..praises|length %}
        {% for days in 1..7 %}
          <tr>
            {% if loop.first %}
              <td rowspan="7">{{ weeks }} 주차</td>
            {% endif %}
            {% set modfied_days = ((weeks - 1) * 7) + (days - 1) %}
            <td>{{ first_date|date_modify("+" ~ modfied_days ~ " days")|date('Y-m-d') }}</td>
            <td>{{ game_scores_by_week[weeks][days - 1] }}</td>

            {% for buf in 1..weeks %}
              {% if buf != weeks %}
                {% for _ in 1..promises[buf]|length %}
                  <td></td>
                {% endfor %}
              {% endif %}
            {% endfor %}

            {% for promise in promises[weeks] %}
              <td>{{ attribute(promise, 'day_' ~ days) }}</td>
            {% endfor %}

            {% for buf in weeks..(praises|length) %}
              {% if buf != weeks %}
                {% for _ in 1..promises[buf]|length %}
                  <td></td>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
          <td>보상내용</td>
          <td colspan="{{ promise_titles|length + 2 }}">{{ praises[weeks - 1]['present'] }}</td>
        </tr>
        <tr>
          <td>보상여부</td>
          <td colspan="{{ promise_titles|length + 2 }}">
            {{ (game_scores_by_week[weeks] <= total_scores_by_week[weeks]) ? 'Y' : 'N' }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="ui basic right aligned segment">
    <a href="/admin/statistics/praises?type={{ app_type }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      칭찬 스티커 통계 목록으로
    </a>
  </div>
{% endblock %}
