{% extends "/admin/base.twig" %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}/dist/js/Chart.js"></script>
  <script type="text/javascript">
    var ctx = document.getElementById("praiseChart");
    var goalScoreDataSets = [];
    var totalScoreDataSets = [];
    var labels = [];
    {% for weeks in 1..praises|length %}
    labels.push('{{ weeks ~ '주차' }}');
    goalScoreDataSets.push({{ praises[weeks - 1]['goal_score'] }});
    totalScoreDataSets.push({{ total_scores_by_week[weeks] }});
    {% endfor %}

    var data = {
      labels: labels,
      datasets: [
        {
          label: "목표 점수",
          fill: false,
          tension: 0,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'square',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: goalScoreDataSets
        },
        {
          label: "총 점수",
          fill: false,
          tension: 0,
          backgroundColor: "rgba(151,187,205,1)",
          borderColor: "rgba(151,187,205,1)",
          borderCapStyle: 'square',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(151,187,205,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: totalScoreDataSets
        }
      ]
    };

    var praiseChart = new Chart(ctx, {
      type: 'line',
      data: data
    });
  </script>
{% endblock %}


{% block contents %}
  {% set first_date = attribute(user, (app_type|lower ~ '_praise_start_date')) %}
  <h1 class="ui header datetime">{{ user.name }} {{ app_type|upper }} 칭찬스티커 그래프 보기</h1>
  <hr />

  <h3 class="ui header">목표 달성 비율: {{ rate_of_achieved }}%</h3>
  <hr/>
  <canvas id="praiseChart"></canvas>

  <div class="ui basic right aligned segment">
    <a href="/admin/statistics/praises?type={{ app_type }}" class="blue ui labeled icon button">
      <i class="history icon"></i>
      칭찬 스티커 통계 목록으로
    </a>
  </div>
{% endblock %}
